/* Payment & Shipping Methods */
.active-payments-main.widefat {
    border-collapse: collapse;
    overflow: hidden;
    width: auto;
}

.active-payments-main.widefat th {
    color: #32373c;
}

.active-payments-main.widefat td,
.active-payments-main.widefat th {
    border: 1px solid #e5e5e5;
}

.active-payments-main.widefat td,
.active-payments-main.widefat thead th {
    text-align: center;
}

.active-payments-main.widefat input[type="number"] {
    padding: 3px 5px;
    width: 100px;
}

.active-payments-main.widefat tr.shipping-zone {
    background-color: #f9f9f9;
}

.active-payments-main.widefat .hover {
    background-color: #fefbcc;
}

.active-payments-main.widefat tfoot {
    border-top: 2px solid #e5e5e5;
}

/* Fees */
.active-payments-fees.widefat td.title {
    font-weight: bold;
    padding: 0 10px;
    vertical-align: middle;
}

.active-payments-fees.widefat .checkbox {
    text-align: center;
    vertical-align: middle;
}

.active-payments-fees.widefat td p {
    margin: 0;
}

/* Settings */
.active-payments .metabox-holder {
    float: left;
}
