#product-pager {
    padding: 30px 35px;

    &.product-thumbnails {
        .owl-item {
            padding: 0px 8px;
            cursor: pointer;

            img {
                overflow: hidden;

                @include single-transition(opacity, 350ms);

                display: inline-block;
                opacity: 0.6;
                display: block;
                width: 100%;
            }

            &.active-thumbnail,
            .active-thumbnail,
            &:hover {
                img {
                    opacity: 1;
                    border: 1px solid #eee;
                }
            }
        }
    }
}

.lt-slider {
    display: none;

    &.products-group {
        z-index: 11;

        &.owl-carousel {
            .owl-stage-outer {
                overflow-y: none;
            }
        }
    }
}

/* Modifired Revolution slider arrows */
.tparrows {
    background: transparent !important;

    @include single-transition(all, 350ms);

    top: 45% !important;

    &:hover {
        background: transparent !important;

        &:before {
            color: $primary-color;
            opacity: 1;
        }
    }

    &:before {
        color: #888;
        font-size: 25px;
        z-index: 10;
    }
}

.tp-bullets {
    .tp-bullet {
        margin: 0 10px;
        height: 10px;
        width: 10px;
        background: #aaa;
        opacity: 0.5;

        @include single-transition(background);

        @include radius(99px);

        &.selected,
        &:hover {
            opacity: 1;
            background: $primary-color;
            cursor: pointer;
        }
    }
}

/* Carousel */
.owl-carousel {
    position: relative;

    .banner {
        cursor: move;
    }

    .owl-prev:before {
        font-family: "FontAwesome";
        content: "\f104";
        font-size: 100%;
    }

    .owl-next:before {
        font-family: "FontAwesome";
        content: "\f105";
        font-size: 100%;
    }

    .owl-nav {
        position: absolute;
        top: 40%;
        width: 100%;
        visibility: hidden;

        @include single-transition(all, 350ms);

        div {
            opacity: 0;
            position: absolute;
            color: #fff;
            border: 1px solid #ececec;
            display: block;
            line-height: 30px;
            width: 35px;
            height: 35px;
            text-align: center;
            background: #dddddd;

            @include radius(50px);

            @include single-transition(all, 350ms);

            &:hover {
                background: $color-hover;
                color: #fff;
                border-color: $color-hover;
            }
        }

        .owl-next {
            right: -0px;
        }

        .owl-prev {
            left: -0px;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 6%;
        left: 50%;
        display: block;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        .owl-dot {
            display: inline-block;
            margin: 0 6px;
            height: 8px;
            width: 8px;
            background: #CCC;
            opacity: 0.5;

            @include radius(99px);

            &.active,
            &.active:hover {
                opacity: 1;
                cursor: pointer;
                background: transparent;
                cursor: pointer;
                border: 2px solid $primary-color;
                position: relative;
                padding: 5px;
                top: 3px;
                margin: 0 3px;

                @include radius(999px);
            }

            &:hover {
                background: #666;
            }
        }
    }

    &.bullets_type_2 {
        .owl-dots {
            left: 0;
            margin-left: 104px;
        }
    }

    &.products-group {
        &:hover > .owl-nav {
            visibility: visible;

            .owl-next {
                opacity: 1;
                right: -10px;
                visibility: visible;
            }

            .owl-prev {
                opacity: 1;
                left: -10px;
                visibility: visible;
            }
        }
    }

    .lt-slider.owl-carousel.lt-thumbs-slide:hover {
        .owl-nav {
            visibility: visible;

            .owl-next {
                opacity: 1;
                right: -5px;
            }

            .owl-prev {
                opacity: 1;
                left: -5px;
            }
        }
    }

    // NEXT PREV for shortcode carousel
    &.lt-sc-carousel {
        .owl-nav {
            .owl-next {
                right: 20px;
            }

            .owl-prev {
                left: 20px;
            }
        }

        .owl-nav {
            top: 45%;
        }

        &:hover .owl-nav {
            .owl-next {
                right: 10px;
            }

            .owl-prev {
                left: 10px;
            }
        }
    }

    &.lt-category-horizontal-2 {
        .owl-nav {
            top: 45%;
            opacity: 0;
        }

        &:hover .owl-nav {
            opacity: 1;

            .owl-next {
                right: -40px;
            }

            .owl-prev {
                left: -40px;
            }
        }
    }
}

.lt-carousel-loadding {
    background: #ddd;
    position: relative;
    z-index: 1;
}

.product-img {
    .owl-next {
        &:hover {
            color: #aaa !important;
        }
    }

    .owl-prev {
        &:hover {
            color: #aaa !important;
        }
    }
}