$overlay-color: #000;
$overlay-opacity: 0.8;
$shadow: 0 0 8px rgba(0, 0, 0, 0.6);
$popup-padding-left: 8px;
$popup-padding-left-mobile: 6px;

$z-index-base: 500;
$include-arrows: true;
$controls-opacity: 0.65;
$controls-color: #FFF;
$inner-close-icon-color: #333;
$controls-text-color: #CCC;
$controls-text-color-hover: #FFF;
$IE7support: true;

$include-iframe-type: true;
$iframe-padding-top: 40px;
$iframe-background: #000;
$iframe-max-width: 900px;
$iframe-ratio: 9 / 16;

$include-image-type: true;
$image-padding-top: 40px;
$image-padding-bottom: 40px;
$include-mobile-layout-for-image: true;

$caption-title-color: #F3F3F3;
$caption-subtitle-color: #BDBDBD;

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-base + 2;
    overflow: hidden;
    position: fixed;
    background: $overlay-color;
    opacity: $overlay-opacity;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-base + 3;
    position: fixed;
    outline: none;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none;
}

.mfp-preloader {
    color: $controls-text-color;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
}

.mfp-preloader a {
    color: $controls-text-color;
}

.mfp-preloader a:hover {
    color: $controls-text-color-hover;
}

// Hide preloader when content successfully loaded
.mfp-s-ready .mfp-preloader {
    display: none;
}

// Hide content when it was not loaded
.mfp-s-error .mfp-content {
    display: none;
}

// CSS-reset for buttons
button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 9999;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: $controls-opacity;
    padding: 0 0 18px 10px;
    color: $controls-color;
    background: #000;
    font-style: normal;
    font-size: 28px;

    &:hover,
    &:focus {
        opacity: 1;
        background: none !important;
    }

    &:active {
        top: 1px;
    }
}

.mfp-close-btn-in .mfp-close {
    color: $inner-close-icon-color;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #000;
    right: -15px;
    top: -45px;
}

@if $include-arrows {
    .mfp-arrow {
        position: fixed;
        top: 0;
        opacity: $controls-opacity;
        background: #333 !important;
        margin: 0;
        top: 50%;
        margin-top: -55px;
        padding: 0;
        width: 70px;
        height: 80px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .mfp-arrow:active {
        margin-top: -54px;
    }

    .mfp-arrow:hover,
    .mfp-arrow:focus {
        opacity: 1;
        background: #000;
    }

    .mfp-arrow {
        @include radius(0px);

        &.mfp-arrow-right {
            right: 0;

            &:after {
                font-family: "FontAwesome";
                content: "\f105";
                font-size: 30px;
                color: #ccc;
            }
        }

        &.mfp-arrow-left {
            left: 0;

            &:after {
                font-family: "FontAwesome";
                content: "\f104";
                font-size: 30px;
                color: #ccc;
            }
        }
    }
}

@if $include-image-type {
    img.mfp-img {
        width: auto;
        max-width: 100%;
        height: auto;
        display: block;
        line-height: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: $image-padding-top 0 $image-padding-bottom;
        margin: 0 auto;
    }

    .mfp-figure:after {
        content: '';
        position: absolute;
        left: 0;
        top: $image-padding-top;
        bottom: $image-padding-bottom;
        display: block;
        margin: 50px;
        right: 0;
        width: auto;
        height: auto;
        z-index: -1;
        box-shadow: $shadow;
    }

    .mfp-figure {
        line-height: 0;
    }

    .mfp-bottom-bar {
        margin-top: -26px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        cursor: auto;
    }

    .mfp-title {
        margin-right: 10px;
        display: inline-block;
        text-align: left;
        line-height: 18px;
        color: $caption-title-color;
    }

    .mfp-counter {
        display: inline-block;
    }

    .mfp-figure small {
        color: $caption-subtitle-color;
        display: block;
        font-size: 12px;
        line-height: 14px;
    }

    .mfp-image-holder .mfp-content {
        max-width: 100%;
    }

    .mfp-gallery .mfp-image-holder .mfp-figure {
        cursor: pointer;
    }

    @if $include-mobile-layout-for-image {
        @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
            .mfp-img-mobile .mfp-image-holder {
                padding-left: 0;
                padding-right: 0;
            }

            .mfp-img-mobile img.mfp-img {
                padding: 0;
            }

            .mfp-img-mobile .mfp-figure:after {
                top: 0;
                bottom: 0;
            }

            .mfp-img-mobile .mfp-bottom-bar {
                background: rgba(0, 0, 0, 0.6);
                bottom: 0;
                margin: 0;
                top: auto;
                padding: 3px 5px;
                position: fixed;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .mfp-img-mobile .mfp-bottom-bar:empty {
                padding: 0;
            }

            .mfp-img-mobile .mfp-counter {
                right: 5px;
                top: 3px;
            }

            .mfp-img-mobile .mfp-close {
                top: 0;
                right: 0;
                width: 35px;
                height: 35px;
                line-height: 35px;
                background: rgba(0, 0, 0, 0.6);
                position: fixed;
                text-align: center;
                padding: 0;
            }

            .mfp-img-mobile .mfp-figure small {
                display: inline;
                margin-left: 5px;
            }
        }
    }
}

@media all and (max-width: 800px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: $popup-padding-left-mobile;
        padding-right: $popup-padding-left-mobile;
    }
}

.mfp-bg {
    opacity: 0;

    @include single-transition(opacity);
}

.mfp-bg.mfp-ready {
    opacity: 0.7;
}

.my-mfp-zoom-in .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}

.my-mfp-zoom-in.mfp-ready .mfp-content {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .mfp-content {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

.my-mfp-zoom-in.mfp-bg .mfp-content {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg .mfp-content {
    opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg .mfp-content {
    opacity: 0;
}

.has-product-video .mfp-close {
    display: none;
}