.owl-item {
    &.active {
        .banner {
            .banner-inner {
                display: inherit;
            }
        }
    }

    .banner {
        .banner-inner {
            opacity: 0;
            display: none;
        }
    }
}

.banner {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;

    .banner-image {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-transition: opacity 200ms ease-out;
        transition: opacity 200ms ease-out;
    }

    .row {
        position: relative;
        height: 100%;
        z-index: 2;
        max-width: $row-width !important;
        margin-left: auto !important;
        margin-right: auto !important;

        .banner-content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0 auto;

            &.align-left {
                left: 10%;
                right: auto;
            }

            &.align-right {
                right: 10%;
                left: auto;
            }

            &.align-center {
                text-align: center;
            }

            //bottom align
            &.valign-bottom {
                bottom: 10% !important;
                top: auto;
            }

            //top algin
            &.valign-top {
                top: 10% !important;
                bottom: auto !important;
            }

            //Middle align
            &.valign-middle {
                bottom: 50% !important;
                top: auto !important;
                -webkit-transform: translateY(50%) !important;
                -moz-transform: translateY(50%) !important;
                -ms-transform: translateY(50%) !important;
                -o-transform: translateY(50%) !important;
            }

            .banner-inner {
                h1, h2, h3, h4 {
                    font-weight: bold;
                }

                h5, h6 {
                    font-weight: normal !important;
                }

                h1 {
                    font-size: 380%;
                    line-height: 95%;
                    margin: 12px 0px;
                }

                h2 {
                    font-size: 330%;
                    line-height: 100%;
                    margin: 12px 0px;
                }

                h3 {
                    font-size: 280%;
                    line-height: 100%;
                    margin: 12px 0px;
                }

                h4 {
                    font-size: 200%;
                    line-height: 100%;
                    margin: 6px 0px;
                }

                h5 {
                    font-size: 150%;
                    line-height: 130%;
                    margin: 6px 0px;
                }

                h6 {
                    font-size: 100%;
                    line-height: 100%;
                    margin: 6px 0px;
                }

                .big-size {
                    font-size: 650%;
                }

                .x-center {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                }

                button {
                    margin-top: 15px;

                    &.primary-color:hover {
                        background: #333 !important;
                    }
                }
            }

            &.dark {
                .banner-inner {
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        color: #FFF;
                    }
                }
            }
        }
    }

    &.hover-zoom {
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;

        .banner-image {
            -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
            -o-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
            transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
            width: 100%;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
        }

        &:hover {
            a {
                text-decoration: none !important;
            }

            .banner-image {
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -o-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
    }

    &.hover-reduction {
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;

        .banner-image {
            -webkit-transition: 0.5s all ease-in-out;
            -moz-transition: 0.5s all ease-in-out;
            -ms-transition: 0.5s all ease-in-out;
            -o-transition: 0.5s all ease-in-out;
            transition: 0.5s all ease-in-out;
            width: 100%;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }

        &:hover {
            background-color: #000;

            a {
                text-decoration: none !important;
            }

            .banner-image {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
                opacity: 0.75;
            }
        }
    }

    &.hover-fade {
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;

        &:hover {
            .banner-image {
                opacity: 0.8;
                width: 100%;
            }
        }
    }

    &.hover-carousel {
        overflow-x: hidden;
        background-color: transparent;
        background-repeat: repeat-x;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        animation-duration: 120s !important;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-name: animatedBackground;
        -moz-animation-name: animatedBackground;
        -moz-animation-duration: 120s !important;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: 0s;
        -moz-animation-direction: normal;
        -moz-animation-fill-mode: none;
        -moz-animation-iteration-count: infinite;
        -moz-animation-play-state: running;
        -webkit-animation-name: animatedBackground;
        -webkit-animation-duration: 120s !important;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0s;
        -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: none;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-play-state: running;
    }

    &.hover-lax {
        .banner-image {
            overflow: hidden;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -3000px 0;
    }
}

.banner-wrapper {
    position: relative;
}

.seam_icon {
    position: absolute;
    top: 50%;
    z-index: 3;

    @include vertical-align;

    &.align_left {
        left: -15px;
    }

    &.align_right {
        right: -15px;

        span {
            @include rotate(180deg);
        }
    }

    .pe7-icon {
        font-size: 300%;
        color: #888;
    }
}

.border_outner {
    border: 1px solid $primary-color;
}

.border_inner {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.bery_banner-grid {
    margin-left: -5px !important;
    margin-right: -5px !important;

    .wpb_content_element {
        margin-bottom: 0;
    }

    .rev_slider_wrapper {
        margin-bottom: 9px !important;
    }

    .columns {
        margin-right: -1px;

        > * {
            div {
                margin-left: 7px;
                margin-right: 7px;
            }

            img {
                margin-bottom: 10px;
            }
        }
    }

    .bery_banner {
        margin-bottom: 15px;
        display: block;
    }
}

/* Parallax */
.bery_banner.banner-parallax .button {
    font-size: 1em;
}

.section-element.parallax {
    background-attachment: fixed;
}

.font-100 {
    font-size: 100% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-150 {
    font-size: 150% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-200 {
    font-size: 200% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-250 {
    font-size: 250% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-300 {
    font-size: 300% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-350 {
    font-size: 350% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-400 {
    font-size: 400% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-450 {
    font-size: 450% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-500 {
    font-size: 500% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-550 {
    font-size: 550% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-600 {
    font-size: 600% !important;
    line-height: 100%;
    margin: 7px 0px;
}

.font-650 {
    font-size: 650% !important;
    line-height: 100%;
    margin: 7px 0px;
}

html[data-useragent*='iPad'] .bery_bg .banner-bg.bery_parallax,
html[data-useragent*='iPad'] .bery_banner .banner-bg.bery_parallax,
html[data-useragent*='iPhone'] .bery_bg .banner-bg.bery_parallax,
html[data-useragent*='iPhone'] .bery_banner .banner-bg.bery_parallax {
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-attachment: inherit !important;
}