.wide-nav {
    margin-bottom: 0;
}

.nav-dropdown {
    top: 75px;
    left: 15px;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    z-index: 9999;
    position: absolute;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

    @include all-transition(all, 250ms);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

li.menu-item:hover {
    > .nav-dropdown {
        z-index: 99999;
    }
}

.active .nav-dropdown {
    opacity: 1;
    visibility: visible;
    top: 65px;
}

/* nav-dropdown - mainmenu */
.header-nav > li.menu-item .nav-dropdown {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.menu-item.sale-label {
    > a:after {
        content: "";
        display: inline-block;
        background-image: url(css/images/sale-menu.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 42px;
        height: 16px;
        position: absolute;
        margin-left: 5px;
        top: -1px;
    }
}

.menu-item.new-label {
    > a:after {
        content: "";
        display: inline-block;
        background-image: url(css/images/new-menu.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 42px;
        height: 16px;
        position: absolute;
        margin-left: 5px;
        top: -1px;
    }
}

.menu-item.hot-label {
    > a:after {
        content: "";
        display: inline-block;
        background-image: url(css/images/hot-menu.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 42px;
        height: 16px;
        position: absolute;
        margin-left: 5px;
        top: -1px;
    }
}

.nav-dropdown > ul,
.nav-dropdown > .row,
.nav-dropdown-inner {
    position: relative;
}

.nav-dropdown > ul {
    margin: 0px;
}

.nav-wrapper {
    > ul {}

    ul {
        padding: 0;
        margin: 0;
    }

    .header-nav {
        li.menu-item {
            display: inline-block;
            list-style: none;
            position: relative;
        }

        li.root-item {
            width: auto;

            > a {
                display: block;
                margin-left: 40px;
                padding: 20px 0;
                font-size: 120%;
                text-align: center;

                @include single-transition(all, 350ms);

                .fa,
                .pe7-icon {
                    display: block;
                    font-size: 170%;
                }

                .pe7-icon {
                    font-weight: bold;
                }
            }

            a:hover {
                color: $primary-color;
            }

            //Icon dropdown
            &.menu-parent-item {
                > a:after {
                    font-family: "FontAwesome";
                    content: "\f107";
                    opacity: 0.3;
                    margin-left: 5px;
                    font-size: $font-size;
                }
            }

            &:hover .nav-dropdown {
                opacity: 1;
                visibility: visible;
                top: 65px;
            }
        }

        /* ========Lee Default Menu ================== */
        li.menu-item.default-menu {
            ul {
                position: absolute;
            }

            li.menu-item {
                width: 170px;

                a {
                    display: block;
                    padding: 5px 0px;
                    line-height: 25px;

                    @include single-transition(all, 350ms);

                    &:hover {
                        padding-left: 3px;
                    }
                }
            }

            > .nav-dropdown {
                text-align: left;
                top: 65px;

                > .div-sub {
                    font-size: $font-size;
                    padding-top: 10px;

                    ul.sub-menu {
                        padding: 20px 0px 20px 30px;

                        li.menu-item {
                            ul {
                                @include single-transition(all, 350ms);

                                top: 0px;
                                left: 190px;
                                visibility: hidden;
                                opacity: 0;
                            }
                        }

                        li.menu-parent-item {
                            > a:after {
                                float: right;
                                font-family: "FontAwesome";
                                content: "\f105";
                                opacity: 0.3;
                                margin-right: 20px;
                            }
                        }
                    }

                    ul {
                        -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
                        background: #FFF;
                        border: 1px solid #ececec;
                    }
                }
            }

            &:hover {
                > .nav-dropdown {
                    top: 53px;
                }
            }

            > .nav-dropdown > .div-sub > ul li.menu-item:hover {
                > .nav-column-links > .div-sub > ul {
                    visibility: visible;
                    opacity: 1;
                    top: 0px;
                    left: 155px;
                }
            }
        }
    }
}

.header-fullwidth {
    li.menu-item.lt-megamenu {
        &.fullwidth {
            > .nav-dropdown {
                width: 100%;
            }
        }
    }
}

li.menu-item.lt-megamenu {
    position: inherit !important;

    &.fullwidth {
        > .nav-dropdown {
            width: $row-width;
        }
    }

    > .nav-dropdown {
        text-align: left;
        background: none;
        left: 0px;
        padding-top: 13px;

        > .div-sub {
            font-size: $font-size;
            border-top: 1px solid #ececec;
            margin: 0 10px;
            -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            background: #FFF;

            > ul {
                position: relative;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;

                > li.menu-item {
                    float: left;
                    border: none;
                    position: relative;

                    a {
                        padding: 2px 0px 2px 30px;
                        line-height: 28px;
                        display: block;
                        position: relative;

                        @include single-transition(all, 350ms);
                    }

                    a:hover {
                        text-decoration: none;
                        padding-left: 33px;
                        color: $primary-color;
                    }

                    .nav-column-links {
                        ul {
                            li.menu-item {
                                a {
                                    &:not(.lt-hide-for-mobile) {
                                        &:before {
                                            font-family: "FontAwesome";
                                            content: "\f105";
                                            position: absolute;
                                            left: 15px;
                                            top: 3px;
                                            color: #666;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.megatop {
                        padding-left: 35px;
                        height: 100%;
                        padding-bottom: 20px;

                        > a {
                            text-transform: capitalize;
                            padding: 25px 0 5px 15px;
                            font-size: 130%;

                            img {
                                padding-top: 10px;
                            }
                        }

                        > hr.hr-lt-megamenu {
                            width: 20px;
                            margin: -5px 0 10px 15px;
                            border-top: 2px solid $primary-color;
                        }
                    }

                    &.has_widget_item {
                        padding: 0px;

                        > hr.hr-lt-megamenu {
                            display: none;
                        }

                        img {
                            padding: 30px 30px 15px 0px;
                        }
                    }

                    li.menu-item {
                        width: 100%;
                    }
                }

                li.menu-item {
                    background: none;

                    img {}
                }
            }
        }
    }

    &:hover .nav-dropdown {
        top: 76px;
    }

    /*&.cols-2{
        > .nav-dropdown > .div-sub > ul > li.menu-item{
            width: 50%;
        }
    }
    &.cols-3{
        > .nav-dropdown > .div-sub > ul > li.menu-item{
            width: 33.3333333%;
        }
    }
    &.cols-4{
        > .nav-dropdown > .div-sub > ul > li.menu-item{
            width: 25%;
        }
    }
    &.cols-5{
        > .nav-dropdown > .div-sub > ul > li.menu-item{
            width: 20%;
        }
    }*/
}

.boxed {
    .nav-wrapper {
        .header-nav {
            li.menu-item.lt-megamenu {
                &.fullwidth {
                    > .nav-dropdown {
                        width: $box-width;
                    }
                }
            }
        }
    }
}

#jPanelMenu-panel {
    background: rgba(255, 255, 255, 0.5);
}

// Menu mobile
#lt-menu-mobile {
    position: fixed;
    overflow-y: auto;
    direction: rtl;
    text-align: left;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 10px;
    display: none;
    height: 100%;
    background: #000;
    overflow-y: auto;

    &.menu-show {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    > li {
        > a {
            text-transform: uppercase;
        }
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;

        a {
            font-size: $font-size;
            color: #ccc;
            display: block;
            padding: 10px;
            border-bottom: 1px solid #333;

            i {
                margin-right: 8px;
            }

            &:hover {
                color: #fff;
            }
        }

        a.accordion {
            position: absolute;
            padding: 5px 10px;

            @include radius(2px);

            right: 5px;
            top: 5px;
            background: rgba(255, 255, 255, 0.2);

            @include single-transition(all, 350ms);

            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }
        }

        &.current-menu-item {
            > a {
                color: #fff;
                font-weight: bold;
            }
        }

        &.lt-megamenu {
            position: relative !important;
        }
    }

    .menu-item > .nav-dropdown-mobile {
        padding-left: 10px;
    }

    // menu account - mobile
    .menu-item-account {
        text-transform: uppercase;
        padding: 25px 20px 0 20px;
        font-weight: bold;

        .heading-account {
            text-align: center;
            color: #fff;

            hr {
                border: none;
                border-bottom: 1px solid #333;
            }
        }

        a {
            border: none;
            padding: 3px 0px;

            &.center {
                display: block;
                text-align: center;
            }
        }
    }

    .menu-item-heading {
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 0 10px 10px;
        color: #FFF;
        font-weight: bold;

        .fa-bars {
            margin-right: 10px;
        }
    }
}

/* Vertical menu title*/
.vertical-menu {
    h5.section-title {
        background: #efefef;
        padding: 10px 25px;
        border: 1px solid #ececec;
        margin-bottom: 4px;
        margin-top: 0;

        &:before {
            content: "\e636";
            font-family: "Pe-icon-7-stroke";
            margin-right: 15px;
            font-size: 130%;
            color: #333;
            vertical-align: middle;
        }

        span {
            vertical-align: middle;
            color: #333;
        }
    }
}

#vertical-menu-wrapper,
.vertical-menu-wrapper {
    background: #fff;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    padding: 10px 0px;
    margin-top: -5px;

    li.root-item {
        padding: 11px 25px;
        position: relative !important;

        @include single-transition(all, 150ms);

        list-style: none;
        cursor: pointer;

        > a {
            text-transform: uppercase;
            font-size: 110%;

            @include single-transition(all, 100ms);
        }

        &:hover {
            background: #efefef;
            color: $secondary-color;

            > a {
                //color: $secondary-color;
           
            }
        }

        &.root-item.menu-item-has-children:after {
            position: absolute;
            top: 14px;
            right: 25px;
            content: "\f105";
            font-family: "FontAwesome";
            font-size: 100%;
            color: #c5c5c5;
        }

        .nav-dropdown {
            top: -26px;
            left: 260px;
            box-shadow: none;
            border: none;

            .div-sub {
                ul.sub-menu {
                    li {
                        list-style: none;

                        &.megatop {
                            margin-bottom: 20px;
                        }

                        .nav-column-links {
                            .sub-menu {
                                margin-left: 0;
                            }
                        }

                        &.has_widget_item {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &.lt-megamenu {
            .nav-dropdown {
                width: 920px;
            }

            &:hover .nav-dropdown {
                opacity: 1;
                visibility: visible;
                left: 268px;
            }
        }

        &.default-menu {
            ul {
                position: absolute;
            }

            li.menu-item {
                width: 170px;

                a {
                    display: block;
                    padding: 5px 0px;
                    line-height: 25px;

                    @include single-transition(all, 350ms);

                    &:hover {
                        padding-left: 3px;
                    }
                }
            }

            > .nav-dropdown {
                text-align: left;
                left: 242px;

                > .div-sub {
                    font-size: $font-size;
                    padding-top: 10px;

                    > ul li.menu-item {
                        position: relative;
                    }

                    ul.sub-menu {
                        padding: 20px 0px 20px 30px;

                        li.menu-item {
                            ul {
                                @include single-transition(all, 350ms);

                                top: 0px;
                                left: 190px;
                                visibility: hidden;
                                opacity: 0;
                            }
                        }

                        li.menu-parent-item {
                            > a:after {
                                float: right;
                                font-family: "FontAwesome";
                                content: "\f105";
                                opacity: 0.3;
                                margin-right: 20px;
                            }
                        }
                    }

                    ul {
                        -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
                        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
                        background: #FFF;
                        border: 1px solid #ececec;
                    }
                }
            }

            > .nav-dropdown > .div-sub > ul li.menu-item:hover {
                > .nav-column-links > .div-sub > ul {
                    visibility: visible;
                    opacity: 1;
                    top: 0px;
                    left: 155px;
                }
            }

            &:hover .nav-dropdown {
                opacity: 1;
                visibility: visible;
                left: 258px;
            }
        }
    }

    i {
        font-size: 150%;
        vertical-align: middle;
        margin-right: 8px;
        width: 25px;
        font-weight: bold;
    }
}