/* PRODUCT PAGE DETAIL */
.product-page {
    .size-chart {
        font-size: $font-size;
        font-weight: normal;
    }

    .left {
        padding-right: 20px;
        padding-left: 20px;
    }

    .right {
        padding-left: 20px;
    }

    .custom.dropdown {
        width: 80%;
    }

    .text-center .custom.dropdown {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .prefix.last {
        @include radius("0px 10px 0px 10px");
    }
}

/* Product detail info */
.product-info {
    .entry-title {
        text-transform: uppercase;
        margin: 0 0 15px;
        word-wrap: break-word;
        font-weight: normal;
        margin-bottom: 25px;
        font-size: 180%;

        a {
            color: #000;

            @include single-transition(all, 200ms);

            &:hover {
                color: $primary-color;
            }
        }
    }

    .scroll-to-reviews {
        float: left;
        margin-bottom: 15px;
    }

    .stock.in-stock {
        float: right;
        color: $primary-color;
        font-weight: bold;
        margin-bottom: 25px;

        span {
            color: $body-font-color;
        }
    }

    .price {
        &.large {
            clear: both;
            height: 100%;
            margin: 20px 0;
        }
    }

    .short-description {
        p {
            margin: 0;
        }
    }

    .star-rating {
        margin: 0;
        margin-bottom: 20px;
    }

    .woocommerce-product-rating {
        display: none;
    }

    .quantity {
        width: 90px;
        margin-right: 15px;
        float: left;
    }

    .lt-single-share {
        display: table;
        margin: 25px 0;

        .lt-single-share-text {
            display: table-cell;
            line-height: 40px;
            margin: 0 25px 0 0;
            height: 100%;
            float: left;
            font-weight: bold;
        }

        .social-icons {
            margin-top: 0;
            display: table-cell;
        }
    }

    /* Product Variations */
    .variations {
        .value {
            margin-left: 0;
        }

        select {
            margin-bottom: 0;
            padding: 10px;
        }

        td {
            vertical-align: middle;
        }

        tr {
            border: none;
        }

        label {
            font-size: 95%;
            font-weight: bolder;
            margin: 0;
        }

        .reset_variations {
            display: none;
        }

        .select-wrapper {
            width: 90%;
        }
    }

    .product_meta {
        > span {
            display: block;
            padding-bottom: 20px;
            font-size: $font-size;
            color: #818181;
        }

        a {
            color: #313131;
        }
    }

    .yith-wcwl-add-to-wishlist {
        position: relative;
        padding: 10px 20px 10px 25px;
        float: left;
        max-width: 50%;
        margin: 25px 0;

        span {
            @include single-transition(all, 0.5s);
        }

        &:before {
            position: absolute;
            left: 0;
            top: 10px;
            font-family: 'Pe-icon-7-stroke';
            content: "\e642";
            font-size: 120%;
            font-weight: bold;
            cursor: pointer;

            @include single-transition(all, 0.5s);
        }

        &:after {
            width: 1px;
            height: 35%;
            background: #DFDFDF;
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 0;
            content: "";
        }

        &:hover {
            &:before, a, .feedback {
                color: $primary-color;
            }
        }
    }

    .compare {
        float: left;
        padding: 10px 20px 10px 25px;
        margin: 25px 20px;
        position: relative;
        border: none;

        &:before {
            position: absolute;
            left: 0px;
            top: 10px;
            font-family: 'Pe-icon-7-stroke';
            content: "\e61b";
            font-size: 120%;
            font-weight: bold;
            cursor: pointer;
            margin-right: 10px;

            @include single-transition(all, 0.5s);
        }

        &:hover, &:hover:before {
            color: $primary-color;
            background: none !important;
        }
    }

    .yith-wcwl-wishlistexistsbrowse a,
    .yith-wcwl-wishlistaddedbrowse a {
        display: none !important;
    }

    .cart {
        clear: both;
        height: 100%;
        margin: 30px 0;

        .single_add_to_cart_button {
            &.lt_add_to_cart_single {
                padding: 0.9em 1.5em 0.9em 1.5em;

                i {
                    font-size: 125%;
                }
            }
        }

        .lt-single-form-text {
            float: left;
            height: 40px;
            line-height: 40px;
            margin-right: 10px;
            font-weight: bold;
        }
    }
}

/* Product detail - Description, review, product tab */
.product-details {
    margin: 50px 0px 20px 0px;

    .woocommerce-tabs {
        margin-bottom: 50px;

        .lt-content-specifications {
            .spec-table {
                tr {
                    &:first-child {
                        border-top: none;
                    }

                    td {
                        border-top: 1px solid #eceeef;
                        padding-left: 25px;
                        padding-right: 25px;

                        &:first-child {
                            width: 30%;
                        }
                    }
                }
            }
        }

        #lt-tab-additional {
            font-size: $font-size;
            line-height: 1.7;
        }

        #lt-tab-additional_information {
            font-size: 110%;
        }

        #reviews {
            h2, h3 {
                font-weight: normal;
                letter-spacing: 0;
                color: $body-font-color;
            }

            h2 {
                font-size: 130%;
            }

            h3 {
                font-size: 110%;
            }

            #comments {
                .review-item {
                    position: relative;
                    border-bottom: 2px dotted $border-light;
                    margin-bottom: 15px;
                    min-height: 85px;
                    padding-left: 90px;
                }

                .review-item .avatar {
                    position: absolute;
                    left: 0;
                    top: -5px;
                }

                .review-item .description {
                    color: #555;
                    font-style: italic;
                    font-family: georgia;
                    font-size: 105%;
                    padding-right: 20%;
                }

                .star-rating {
                    display: inline-block;
                }

                p.meta {
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }

            #respond {
                /* WOOCOMMERCE REVIEW */
                p.stars {
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }

                    span {
                        width: 80px;
                        height: 16px;
                        position: relative;
                        float: left;
                        background: url(css/star.png) repeat-x left 0;

                        a {
                            float: left;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 16px;
                            height: 0;
                            padding-top: 16px;
                            overflow: hidden;

                            &:hover {
                                background: url(css/star.png) repeat-x left -16px;
                            }

                            &:focus {
                                background: url(css/star.png) repeat-x left -16px;
                            }

                            &.active {
                                background: url(css/star.png) repeat-x left -32px;
                            }

                            &.star-1 {
                                width: 16px;
                                z-index: 10;
                            }

                            &.star-2 {
                                width: 32px;
                                z-index: 9;
                            }

                            &.star-3 {
                                width: 48px;
                                z-index: 8;
                            }

                            &.star-4 {
                                width: 64px;
                                z-index: 7;
                            }

                            &.star-5 {
                                width: 80px;
                                z-index: 6;
                            }
                        }
                    }
                }

                textarea#comment {
                    height: 100px;
                }
            }
        }

        .lt-panel {
            border: 1px solid #ddd;
            padding: 30px;

            &.no-border {
                border: none;
                padding: 0px;

                .lt-panel-block {
                    border: 1px solid #ddd;
                    padding: 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

/* Product gallery */
.product-gallery {
    margin-bottom: 25px;
    padding-right: 15px;
    margin-right: 0px;

    .owl-height {
        height: auto !important;
    }

    .main-images {}

    .product-img {
        border: 1px solid $border;
    }

    .product-images-slider {
        position: relative;
    }

    .product-image-btn {
        .product-lightbox-btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 10;

            @include single-transition(all, 200ms);

            @include rotate(90deg);

            font-family: 'FontAwesome';
            font-size: 140%;
            display: block;
            color: #888;

            &:before {
                content: "\f065";
            }

            &:hover {
                color: #222 !important;
            }
        }

        .product-video-popup {
            position: absolute;
            font-size: $font-size;
            right: 40px;
            top: 30px;
            z-index: 10;
            color: #666;

            span {
                margin-right: 10px;
            }
        }
    }
}

/* Product video popup */
.mfp-iframe-holder {
    padding: 40px 0;

    .mfp-content {
        line-height: 0;
        width: 100%;
        max-width: 900px;
        -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);

        .mfp-iframe-scaler {
            width: 100%;
            overflow: hidden;
            padding-top: 56.25%;

            iframe {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
                background: black;
                max-width: 100% !important;
            }
        }
    }
}

/* Product zoom */
.easyzoom {
    position: relative;
    *display: inline;
    *zoom: 1;

    img {
        vertical-align: bottom;
        max-width: 100%;
    }

    &.is-loading img {
        cursor: progress;
    }

    &.is-ready img {
        cursor: crosshair;
    }

    &.is-error img {
        cursor: not-allowed;
    }

    .easyzoom-notice {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 150;
        width: 10em;
        margin: -1em 0 0 -5em;
        line-height: 2em;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 10px #888;
    }

    .easyzoom-flyout {
        position: absolute;
        z-index: 97;
        overflow: hidden;
        background: #ffffff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        @include single-transition(opacity, 0.3s);

        img {
            max-width: none;
            width: auto !important;
        }

        &:hover {
            opacity: 1;
        }
    }
}