/* CATEGORY PAGE */
.category-page {
    margin-top: 30px !important;

    .left {
        padding-right: 20px;
    }

    .right {
        padding-left: 20px;
    }

    .cat_bg {
        margin-bottom: 20px;
    }

    //Filter shop page
    .filters-container,
    .filters-container-down {
        padding: 10px 0px 25px 0px;
    }

    //Grid or List button
    .filter-tabs {
        margin-bottom: 0;

        li {
            display: inline-block;
            list-style: none;
            margin-right: 5px;
            cursor: pointer;

            &.sort-bar-text {
                font-weight: bold;
            }

            i {
                border: 1px solid #aaa;
                background: #f7f7f7;
                padding: 7px;

                @include radius(5px);

                @include single-transition(all, 350ms);

                color: #aaa;
            }

            &.active,
            &:hover {
                i {
                    color: #fff;
                    background: $primary-color;
                    border-color: $primary-color;
                }
            }
        }
    }

    //Sorting by button
    .sort-bar {
        margin-bottom: 0;
        float: right;

        .sort-bar-text {
            margin-right: 10px;
            font-weight: bold;
        }

        li {
            display: inline-block;
            vertical-align: middle;
        }

        .woocommerce-result-count {
            display: none;
        }

        label {
            position: relative;
        }

        .select-wrapper {
            background: #f6f6f6 url(css/images/select-arrow.png) no-repeat 96% 50%;
            font-size: $font-size;
            border: 1px solid #aaa;

            select {
                border: none;
                padding: 5px 15px;
                color: $primary-color;
                font-weight: bold;
                -webkit-appearance: button;
                appearance: button;

                option {
                    padding: 0 15px;
                    font-weight: bold;
                }
            }
        }
    }
}

//Fix padding for Shop page
.products-group .inner-wrap {
    padding: 0;
    margin: 10px;
    position: relative;
}

/* PRODUCT LIST CATEGORY PAGE*/
@media #{$notmobile} {
    //Fix no sidebar
    .no-sidebar .products.list .product-item .inner-wrap .info {
        position: relative;
    }

    .products {
        .lt-slider.lt-thumbs-slide {
            z-index: 11;
            border: 1px solid #e2e2e2;

            .content-img {
                padding: 50px 20px 50px;
                overflow: hidden;
            }

            &.owl-carousel {
                .owl-nav {
                    top: 45%;
                }

                .owl-nav {
                    .owl-prev,
                    .owl-next {
                        background: transparent;
                        border: none;
                        font-weight: bold;
                        color: #dddddd;
                        border-radius: 0;

                        &:before {
                            font-size: 150%;
                        }
                    }
                }

                &:hover {
                    .owl-nav {
                        .owl-prev {
                            left: 5px;
                        }

                        .owl-next {
                            right: 5px;
                        }
                    }
                }
            }
        }

        &.grid {
            .product-img {
                .product-summary {
                    opacity: 0;
                    display: none;

                    .product-interactions {
                        .btn-wishlist,
                        .quick-view,
                        .add-to-cart-btn {
                            @include translate-X(50px);

                            -webkit-transition: all 0.8s cubic-bezier(1, -0.53, 0.405, 1.425) 0.01s;
                            transition: all 0.8s cubic-bezier(1, -0.53, 0.405, 1.425) 0.01s;
                        }

                        .btn-link {
                            line-height: 0.5;
                            color: #333;
                            background: #fff;
                            text-align: center;
                            z-index: 10;
                            padding: 10px;
                            margin-bottom: 12px;

                            @include radius(99px);

                            &:hover {
                                .pe-icon {
                                    color: #fff;
                                }

                                background: $primary-color;
                            }

                            .quickview {
                                @include single-transition(all, 350ms);
                            }
                        }

                        .compare-button,
                        .btn-compare {
                            display: none;
                        }

                        .add-to-cart-grid {
                            .cart-icon {
                                position: relative;
                            }

                            .add_to_cart_text {
                                display: none;
                            }
                        }

                        .added_to_cart {
                            display: none !important;
                        }

                        .add-to-link {
                            .yith-wcwl-add-to-wishlist {
                                display: none;
                            }

                            .please-wait {
                                position: absolute;
                            }
                        }
                    }
                }
            }

            .info {
                height: 40px;
                padding: 0px;
                position: absolute;
                bottom: 0px;
                width: 100%;

                .price {
                    position: relative;
                    right: 0;
                    font-size: 160%;
                    display: block;
                    width: 100%;

                    @include single-transition(all, 500ms);
                }

                .product-summary {
                    position: absolute;
                    background: #FFF;
                    margin-top: -1px;
                    border-top: none;
                    height: 60px;
                    width: 100%;
                    visibility: hidden;

                    @include lt-box-shadow(0px, 5px, 5px, 2px, #ddd);

                    .lt-separator-product-group-btn {
                        margin: 0 20px;
                    }

                    .product-interactions {
                        .add-to-cart-btn,
                        .add-to-link {
                            display: none;
                        }

                        .btn-wishlist {
                            position: absolute;
                            width: 50%;
                            height: 100%;
                            left: 0;
                            top: 0;

                            .wishlist-icon {
                                background: none;
                                position: absolute;
                                top: 15px;
                                left: 20px;
                                opacity: 0;
                                visibility: hidden;

                                //@include single-transition(all, 200ms);
                                .pe-icon {
                                    font-size: 120%;
                                    font-weight: bold;
                                    padding: 5px 3px 5px 5px;
                                    cursor: pointer;
                                }

                                .lt-icon-text {
                                    display: inline-block;
                                    cursor: pointer;
                                }
                            }
                        }

                        .lt-seperator {
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 23px;
                            border-left: 1px solid #ccc;
                            padding: 7px 0;
                        }

                        .btn-compare {
                            position: absolute;
                            width: 50%;
                            height: 100%;
                            right: 0;
                            top: 0;

                            .compare-icon {
                                background: none;
                                position: absolute;
                                top: 15px;
                                right: 20px;
                                opacity: 0;
                                visibility: hidden;

                                //@include single-transition(all, 200ms);
                                .pe-icon {
                                    font-size: 120%;
                                    font-weight: bold;
                                    padding: 5px 3px 5px 5px;
                                    cursor: pointer;
                                }

                                .lt-icon-text {
                                    display: inline-block;
                                    cursor: pointer;
                                }
                            }
                        }

                        .quick-view {
                            position: absolute;
                            right: 20px;
                            top: -40px;
                            z-index: 12;
                            cursor: pointer;
                            visibility: visible;

                            @include single-transition(all, 350ms);

                            .btn-link:hover {
                                background: none;
                            }
                        }
                    }
                }
            }

            .product-item {
                margin-bottom: 10px;
                position: relative;
                z-index: 1;

                .info {
                    .info_main {
                        padding-top: 2px;
                        margin: 0 20px;
                        height: 100%;
                        z-index: 11;

                        //border-bottom: 1px solid #ddd;
                   
                    }
                }

                .inner-wrap {
                    position: relative;

                    &.product-deals {
                        border: 1px solid #e2e2e2;

                        .lt-slider.lt-thumbs-slide {
                            box-shadow: none;
                            border: none;

                            .content-img {
                                padding: 50px 20px 20px 20px;
                            }
                        }

                        .countdown {
                            .countdown-row {
                                bottom: 0;
                                top: 50%;
                                height: 100%;
                                padding: 0 20px;
                                transition: none;

                                > span {
                                    width: 20%;
                                }
                            }
                        }

                        .info {
                            position: relative;
                            height: auto;
                            padding-bottom: 10px;

                            .info_main {
                                border-bottom: none;
                            }

                            .lt-sc-pdeal-countdown {
                                height: 65px;
                                position: relative;
                                margin: 20px 0;
                            }

                            .lt-deal-showmore {
                                padding: 0 20px;
                                margin-bottom: 5px;
                            }

                            .product-summary {
                                position: relative;
                                box-shadow: none;
                                border: none;

                                .product-interactions {
                                    .compare-icon, .wishlist-icon {
                                        opacity: 1;
                                        visibility: visible;
                                    }

                                    .lt-seperator {
                                        visibility: visible;
                                    }

                                    .quick-view {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &:hover {
                    z-index: 3;

                    .lt-slider.lt-thumbs-slide {
                        @include lt-box-shadow(0px, 0px, 5px, 2px, #ddd);

                        border-color: transparent;

                        .owl-nav {
                            visibility: visible;

                            .owl-next {
                                opacity: 1;
                                right: 5px;
                            }

                            .owl-prev {
                                opacity: 1;
                                left: 5px;
                            }
                        }
                    }

                    .inner-wrap {}

                    .info {
                        .info_main {
                            border-bottom: 1px solid #ddd;
                        }

                        .price {
                            opacity: 1;
                            visibility: visible;
                        }

                        .product-summary {
                            visibility: visible;
                            z-index: 12;

                            .product-interactions {
                                .quick-view {}

                                .wishlist-icon,
                                .compare-icon {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .product-summary {
                        //opacity: 1;
                        //display: block;
                   
                    }

                    .product-deals {
                        @include lt-box-shadow(0px, 0px, 5px, 2px, #ddd);

                        .lt-separator-product-group-btn {
                            display: none;
                        }

                        .info {
                            bottom: 0;
                        }
                    }
                }
            }
        }

        &.list {
            .product-summary {
                opacity: 0;
                display: none;
            }

            .info {
                .product-summary {
                    opacity: 1;
                    display: block;

                    .lt-separator-product-group-btn {
                        //display: none;
                        margin: 20px 0 30px 0;
                    }
                }
            }

            .product-item {
                width: 100%;
                position: relative;
                padding: 0px 10px;

                @include single-transition(all, 350ms);

                .inner-wrap {
                    border: 1px solid #ddd;
                    overflow: hidden;

                    > div {
                        display: table-cell;
                    }

                    .lt-slider.lt-thumbs-slide .content-img {
                        padding: 20px;
                    }

                    p.name {
                        display: block;

                        @include single-transition(all, 350ms);

                        margin-bottom: 10px;
                        font-weight: bold;
                        font-size: 180%;
                        width: 80%;
                        font-weight: bold;
                        position: relative;
                        float: right;
                        padding: 20px 20px 0px 20px;
                        margin-top: 0px;
                        left: 0;
                        top: 0;

                        a {
                            color: $body-font-color;
                        }
                    }

                    .info {
                        position: relative;
                        padding: 0 20px 20px 20px;
                        text-align: left;
                        float: right;
                        width: 80%;

                        .product-summary {
                            position: relative;
                            overflow: hidden;
                            padding: 0;
                            z-index: 2;

                            .products-cats {
                                display: none;
                            }

                            .product-interactions {
                                float: left;

                                .quick-view {
                                    display: none;
                                }

                                .add-to-cart-btn {
                                    float: left;
                                    margin-right: 5px;
                                    border: 1px solid #ddd;
                                    height: 35px;
                                    margin-left: 1px;
                                    line-height: 35px;
                                    padding: 0 15px;
                                    text-align: center;
                                    background: #FFF;

                                    @include single-transition(all, 350ms);

                                    @include radius($global-radius);

                                    &:hover {
                                        border-color: $primary-color;
                                        background: $primary-color;
                                        color: #fff;

                                        .add_to_cart_text {
                                            color: #fff;
                                        }
                                    }
                                }

                                .btn-wishlist {
                                    height: 100%;
                                    position: relative;
                                    margin-left: 35px;
                                    float: left;
                                    margin-top: 4px;

                                    .btn-link {
                                        width: 100%;
                                        height: 100%;
                                        background: transparent;
                                        line-height: inherit;

                                        .added_to_cart {
                                            display: none;
                                        }

                                        .wishlist-icon {
                                            .pe-icon {
                                                font-size: 120%;
                                                font-weight: bold;
                                                padding: 5px;
                                            }

                                            .lt-icon-text {
                                                display: inline-block;
                                                cursor: pointer;
                                            }
                                        }

                                        &:hover {
                                            background: none !important;
                                        }
                                    }

                                    &:after {
                                        content: '|';
                                        position: absolute;
                                        right: -22px;
                                        top: 5px;
                                    }
                                }

                                .btn-compare {
                                    height: 100%;
                                    margin-left: 35px;
                                    float: right;
                                    margin-top: 4px;

                                    .btn-link {
                                        &:hover {
                                            background: none !important;
                                        }

                                        .compare-icon {
                                            .pe-icon {
                                                font-size: 120%;
                                                font-weight: bold;
                                                padding: 5px;
                                            }

                                            .lt-icon-text {
                                                display: inline-block;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }

                                .btn-link {
                                    width: 100%;
                                    height: 100%;
                                    background: transparent;
                                    line-height: inherit;

                                    .added_to_cart {
                                        display: none;
                                    }
                                }

                                .add-to-cart-btn {
                                    min-width: 100px;
                                    padding: 0;

                                    .add-to-cart-grid {
                                        display: block;

                                        .add_to_cart_text {
                                            display: block;
                                            font-weight: bold;
                                            text-transform: uppercase;
                                            padding-left: 20px;
                                            padding-right: 20px;
                                        }

                                        .cart-icon-handle {
                                            display: block;
                                        }

                                        .cart-icon {
                                            display: none;
                                        }
                                    }

                                    &:hover {
                                        .add-to-cart-grid {
                                            color: #fff;
                                        }
                                    }
                                }

                                .btn-wishlist,
                                .quick-view,
                                .btn-compare {
                                    cursor: pointer;

                                    .pe-icon {
                                        position: relative;
                                        top: 3px;
                                        font-size: 145%;
                                        font-weight: bold;
                                    }
                                }

                                .add-to-link {
                                    display: none;
                                }

                                .btn-wishlist,
                                .quick-view,
                                .add-to-cart-btn {
                                    @include translate-X(0px);
                                }

                                .lt-icon-text {
                                    display: none;
                                }
                            }
                        }

                        .star-rating {
                            display: block;

                            @include single-transition(all, 350ms);

                            padding-bottom: 18px;
                            margin: 0;
                            line-height: 1.3em;
                        }

                        .price {
                            display: block;

                            @include single-transition(all, 350ms);

                            margin-bottom: 15px;
                            margin-top: 10px;

                            ins .amount,
                            .amount {
                                font-size: 125%;
                                color: $primary-color;
                                font-weight: bold;
                            }

                            del {
                                .amount {
                                    font-weight: normal;
                                    color: #aaa !important;
                                    font-size: 95%;
                                }
                            }
                        }

                        .product-des {
                            display: block;

                            @include single-transition(all, 350ms);

                            float: left;

                            p {
                                line-height: 1.6;
                            }
                        }

                        .info_main {
                            padding: 0;
                        }
                    }

                    .product-img {
                        width: 20%;
                        overflow: hidden;
                        position: initial;
                        float: left;

                        //border: 1px solid #ddd;
                        //@include lt-box-shadow(0px, 0px, 5px, 2px , #ddd);
                        .product-summary {
                            .product-interactions {
                                > div {
                                    @include radius(99px);
                                }
                            }
                        }

                        .lt-slider {
                            &.lt-thumbs-slide {
                                border: none;
                            }
                        }

                        .badge {
                            top: 0px;
                        }

                        .back-img {
                            position: absolute;
                            display: block;
                            z-index: 0;
                            opacity: 0;
                            height: 100%;
                            top: 0;

                            @include single-transition(all, 350ms);

                            img {
                                position: inherit;
                            }
                        }

                        .main-img, .back-img {
                            width: 100%;
                        }
                    }
                }

                &:hover {
                    z-index: 3;

                    .inner-wrap {
                        @include lt-box-shadow(0px, 0px, 3px, 1px, #ddd);

                        .owl-nav {
                            visibility: visible;

                            .owl-next {
                                opacity: 1;
                                right: 5px;
                            }

                            .owl-prev {
                                opacity: 1;
                                left: 5px;
                            }
                        }
                    }

                    .product-summary {}
                }

                &.hover-fade {
                    .product-img {
                        img {
                            @include single-transition(all, 800ms);
                        }

                        .main-img img {
                            opacity: 1;
                        }

                        .back-img img {
                            opacity: 0;
                            top: 0;
                        }

                        &:hover {
                            .main-img img {
                                opacity: 0;
                            }

                            .back-img {
                                z-index: 1;
                                opacity: 1;

                                img {
                                    opacity: 1;
                                    z-index: 1;
                                }
                            }
                        }
                    }

                    &:hover {
                        .main-img img {
                            opacity: 1;
                        }

                        .back-img img {
                            opacity: 0;
                            top: 0;
                        }
                    }
                }

                .badge-inner {}

                .out-of-stock-label {}
            }
        }
    }

    .has-sidebar .products.list .product-item .inner-wrap {
        .product-img {
            width: 30%;
        }

        .name,
        .info {
            width: 70%;
        }
    }
}

/* Product Deals Elements */
.columns.lt-column-custom-2 .lt-slider.lt-thumbs-slide, .columns.lt-column-custom-4 div.lt-custom-deal {
    border: 1px solid #e2e2e2;
    min-height: 365px;
}

.columns.lt-column-custom-2:hover {
    z-index: 12;

    .lt-slider.lt-thumbs-slide {
        @include lt-box-shadow(0px, 0px, 5px, 2px, #ddd);

        border-color: transparent;
    }

    .info {
        .info_main {
            border-bottom: 1px solid #ddd;
        }
    }
}

.lt-sc-p-img {
    padding: 20px 0 20px 20px;
}

.columns.lt-column-custom-4 {
    width: 40%;

    .lt-sc-pdeal.lt-sc-pdeal-block {
        margin: 0;

        .lt-sc-p-img {
            padding: 20px 0 20px 20px;
        }

        .product-summary {
            position: relative;
            width: 100%;
            margin: 20px 0;
            height: 100%;
            display: table;

            .product-interactions {
                float: none;

                .lt-seperator {
                    display: block;
                }

                .btn-wishlist {
                    width: 50%;
                    height: 100%;
                    float: left;

                    .btn-link {
                        &:hover {
                            background: none !important;
                        }

                        .wishlist-icon {
                            .pe-icon {
                                font-size: 120%;
                                font-weight: bold;
                                padding: 5px;
                            }

                            .lt-icon-text {
                                display: inline-block;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .btn-compare {
                    width: 50%;
                    height: 100%;
                    float: right;

                    .btn-link {
                        &:hover {
                            background: none !important;
                        }

                        .compare-icon {
                            .pe-icon {
                                font-size: 120%;
                                font-weight: bold;
                                padding: 5px;
                            }

                            .lt-icon-text {
                                display: inline-block;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        .lt-sc-p-info {
            display: inline-block;

            .lt-product-deal-des {
                margin: 20px 0;
                max-height: 120px;
                overflow: hidden;
            }
        }

        .product-item {
            .owl-carousel {
                .owl-nav {
                    div {
                        border: none;
                        background: none;
                        border-radius: none;
                        color: #ddd;
                        opacity: 0;
                    }
                }
            }
        }

        &:hover {
            @include lt-box-shadow(0px, 0px, 5px, 2px, #ddd);
        }
    }

    .lt-sc-p-info {
        padding-top: 10px;
    }

    .lt-sc-p-img {
        .price.lt-sc-p-price {
            display: inline-block;
            font-size: 160%;
            position: relative;

            @include single-transition(all, 350ms);

            width: 100%;
            margin: 20px 0;

            del {
                color: #aaa;
                font-size: 75%;
                margin-left: 5px;
            }

            ins {
                float: left;
            }
        }
    }

    .lt-sc-p-deal-countdown {
        position: relative;
        height: 50px;
        margin-top: 25px;

        .countdown-row.countdown-show4 {
            padding: 0;

            .countdown-section {
                padding: 0;

                @include lt-border(all, 2px solid #888888);

                width: 20%;
                line-height: 1;

                .countdown-amount {
                    color: $primary-color;
                }

                .countdown-period {
                    font-size: 100%;
                }
            }
        }
    }

    .add-to-cart-btn a.quick-view {
        color: $color-button;
    }
}

.columns.lt-column-custom-2 {
    width: 20%;

    .product-item {
        .inner-wrap {
            .lt-slider {
                &.lt-thumbs-slide {
                    .content-img {
                        padding: 60px 20px 50px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .info {
        height: 40px;
        padding: 0px;
        position: absolute;
        bottom: 0px;
        width: 100%;

        .info_main {
            padding-top: 2px;
            margin: 0 20px;
            height: 100%;
            z-index: 11;
        }

        .price {
            position: relative;
            right: 0;
            font-size: 160%;
            display: block;
            width: 100%;

            @include single-transition(all, 500ms);
        }

        .product-summary {
            position: absolute;
            background: #FFF;
            margin-top: -1px;
            border-top: none;
            height: 60px;
            width: 100%;
            visibility: hidden;
            z-index: 12;

            @include lt-box-shadow(0px, 5px, 5px, 2px, #ddd);

            .lt-separator-product-group-btn {
                margin: 0 20px;
            }

            .product-interactions {
                .lt-seperator {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 23px;
                    border-left: 1px solid #ccc;
                    padding: 7px 0;
                }

                .add-to-cart-btn,
                .btn-compare,
                .add-to-link {
                    display: none;
                }

                .btn-compare {
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    display: block;
                    right: 0;
                    top: 0;

                    .compare-icon {
                        background: none;
                        position: absolute;
                        top: 15px;
                        right: 20px;
                        opacity: 0;
                        visibility: hidden;

                        .pe-icon {
                            font-size: 120%;
                            font-weight: bold;
                            padding: 5px;
                        }

                        .lt-icon-text {
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }

                .btn-wishlist {
                    position: absolute;
                    width: 50%;
                    height: 100%;
                    left: 0;
                    top: 0;

                    .wishlist-icon {
                        background: none;
                        position: absolute;
                        top: 15px;
                        left: 20px;
                        opacity: 0;
                        visibility: hidden;

                        .pe-icon {
                            font-size: 120%;
                            font-weight: bold;
                            padding: 5px;
                        }

                        .lt-icon-text {
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }

                .quick-view {
                    position: absolute;
                    right: 20px;
                    top: -35px;
                    z-index: 12;
                    cursor: pointer;
                    visibility: visible;

                    @include single-transition(all, 350ms);

                    .btn-link:hover {
                        background: none;
                    }

                    // .lt-icon-text{
                    //     height: 25px;
                    //     width: 33px;
                    //     line-height: 155%;
                    //     text-align: center;
                    //     display: block;
                    //     position: relative;
                    //     border: 1px solid #999;
                    //     -webkit-transition: all 350ms ease;
                    //     -moz-transition: all 350ms ease;
                    //     border-radius: 11px;
                    //     transition: all 350ms ease;
                    //     @include single-transition(all, 350ms);

                    //     &:hover{
                    //         background: $primary-color;
                    //         border-color: $primary-color;
                    //         color:#fff;
                    //     }
                    // }
               
                }
            }
        }
    }

    .product-item {
        p.name {
            width: 80%;
        }

        .owl-carousel {
            .owl-item img {
                transform-style: flat;
            }

            .owl-next:before, .owl-prev:before {
                font-size: 150%;
            }

            .owl-nav {
                div {
                    border: none;
                    background: none;
                    border-radius: none;
                    color: #ddd;
                    opacity: 0;
                    font-weight: bold;
                }
            }
        }
    }

    &:hover {
        .info {
            .product-summary {
                visibility: visible;

                .product-interactions {
                    .btn-wishlist {
                        .wishlist-icon {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .compare-icon {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .product-item {
            .owl-carousel {
                .owl-nav {
                    .owl-prev {
                        left: 5px;
                        visibility: visible;
                        opacity: 1;
                    }

                    .owl-next {
                        right: 5px;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*COUNTDOWN*/
.countdown {
    .countdown-row {
        position: absolute;
        top: 50%;
        left: 50%;

        @include translate(-50%, -50%);

        z-index: 12;
        height: 50px;
        text-align: center;
        width: 100%;
        padding: 0 10px;

        > span {
            display: block;
            float: left;
            width: 21%;
            margin-right: 10px;
            overflow: hidden;
            position: relative;
            line-height: 1.6;

            @include lt-border(all, 2px solid #888888);

            @include radius(5px);

            &:last-child {
                margin-right: 0;
            }

            span {
                display: block;
                background: #fff;

                &:first-child {
                    line-height: 120%;
                    padding-top: 5px;
                }

                &:last-child {
                    padding-bottom: 5px;
                    line-height: 120%;
                }
            }
        }

        .countdown-amount {
            font-weight: 600;
            font-size: 130%;
            color: $primary-color;
        }

        .countdown-period {
            text-transform: lowercase;
            font-weight: 6300;
            font-size: 90%;
        }
    }
}

.product-deals {
    .onsale {
        display: none;
    }

    .product-img {}
}

/* PRODUCT LIST WIDGET */
.product_list_widget {
    .product-item-content {
        .lt-content-product-widget-custom {
            position: relative;
            border: 1px solid #ddd;
            width: 100%;
            display: inline-block;

            .lt-product-item-excerpt {
                height: 85px;
                overflow: hidden;
            }
        }

        .info {
            .lt-info-group-box {
                .lt-btn-showmore {
                    .button {
                        transition: none;
                    }
                }
            }
        }
    }
}

.item-product-widget {
    &.row {
        margin: 0px 0px 20px 0px !important;

        .lt-text-cat {
            font-size: 100%;
            color: #999;
            margin: 0 0 25px 0;

            span {
                a {
                    display: inherit;
                    border: none;
                    color: #999;
                    line-height: 1;
                }
            }
        }
    }

    &.lt-item-widget-simple {
        .lt-text-cat {
            margin: 0 0 15px 0;
        }

        .product-meta {
            padding: 10px;
        }

        .info {
            .lt-info-group-box {
                top: -6px !important;

                .lt-btn-group-custom {
                    width: 100%;
                    height: 40px;
                }
            }
        }
    }

    &.lt-hidden-showmore {
        .product-meta {
            padding: 10px;

            .lt-text-cat {
                margin-bottom: 15px;
            }

            .price {
                &.lt-special-custom {
                    margin: 0;
                }
            }
        }

        .lt-info-group-box {
            .lt-btn-showmore {
                display: none;
            }

            .lt-btn-group-custom {
                width: 100%;
            }
        }
    }

    position: relative;
    z-index: 1;

    &:last-child {
        padding-bottom: 0;
    }

    &.item-product-widget-special {
        padding-bottom: 20px;
    }

    .images {
        float: left;
        position: relative;
        cursor: pointer;
        padding: 10px;

        @include single-transition(all, 350ms);

        a {
            display: block;
            position: relative;

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                background: #000;

                //@include single-transition(all, 350ms);
           
            }
        }

        &:hover {
            a {
                .overlay {
                    opacity: 0.1;
                }
            }
        }
    }

    .product-meta {
        overflow: hidden;
        padding: 20px;

        .product-title {
            font-size: 110%;
            margin-bottom: 10px;
            line-height: 1.1;
            letter-spacing: 0;
            font-weight: normal;
        }

        .star-rating {
            margin: 0;
            margin-bottom: 10px;
            font-size: 13px;
        }

        .price {
            color: #333;

            //margin-bottom: 10px;
            font-size: 140%;
            line-height: 100%;
            color: $primary-color;
            font-weight: bold;

            ins {
                background: inherit;
                text-decoration: none;
                float: left;
                margin-right: 5px;
            }

            del .amount {
                font-size: 13px;
                color: #aaa;
                font-weight: normal;
                text-decoration: line-through;
            }

            &.lt-special-custom {
                height: 20px;
                margin: 20px 0;

                .amount {
                    //font-size: 150%;
               
                }
            }
        }

        .quick-view, .btn-wishlist {
            display: none;
        }

        .added_to_cart.wc-forward {
            display: none !important;
        }

        .add-to-cart-list {
            font-size: $font-size;
            margin-top: 10px;
            padding: 9px 10px;
            cursor: pointer;
            font-weight: bold;
        }

        .yith-wcwl-add-to-wishlist {
            display: none;
        }
    }

    .info {
        position: relative;

        .lt-btn-showmore {
            position: absolute;
            left: 30px;
            width: 40%;
            top: 100%;
            visibility: hidden;
            height: 70px;
            margin-top: 20px;

            &.lt-showmore-10 {
                left: 10px;
            }

            a.button.small.quick-view {
                transition: none;
            }
        }

        .lt-btn-group-custom {
            position: absolute;
            right: 0;
            background: #FFF;
            width: 60%;
            visibility: hidden;
            height: 70px;
            top: 100%;

            .add-to-cart-btn,
            .btn-compare,
            .add-to-link {
                display: none;
            }

            .btn-compare {
                position: absolute;
                width: 50%;
                height: 100%;
                display: block;
                right: 0;
                top: 0;

                .compare-icon {
                    background: none;
                    position: absolute;
                    top: 25px;
                    right: 20px;
                    opacity: 0;
                    visibility: hidden;

                    .pe-icon {
                        font-size: 120%;
                        font-weight: bold;
                        padding: 5px;
                    }

                    .lt-icon-text {
                        display: inline-block;
                        cursor: pointer;
                    }
                }
            }

            .btn-wishlist {
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                top: 0;

                .wishlist-icon {
                    background: none;
                    position: absolute;
                    top: 25px;
                    left: 20px;
                    opacity: 0;
                    visibility: hidden;

                    .pe-icon {
                        font-size: 120%;
                        font-weight: bold;
                        padding: 5px;
                    }

                    .lt-icon-text {
                        display: inline-block;
                        cursor: pointer;
                    }
                }
            }

            .quick-view {
                .btn-link:hover {
                    background: none;
                }

                .lt-icon-text {
                    height: 22px;
                    width: 30px;
                    line-height: 155%;
                    text-align: center;
                    display: block;
                    border: 1px solid #ddd;

                    @include radius(45%);

                    //@include single-transition(all, 350ms);
                    &:before {
                        content: '';
                        font-size: 100%;
                        color: $primary-color;
                    }

                    &:hover {
                        background: $primary-color;
                        border-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }

        .lt-info-group-box {
            position: absolute;
            background: #FFF;
            border: 1px solid #ddd;
            border-top: none;
            height: 70px;
            width: 100%;
            visibility: hidden;
        }
    }

    &:hover {
        z-index: 12;

        .product-item-content {
            @include lt-box-shadow(0px, 0px, 5px, 2px, #ddd);

            .info {
                .lt-info-group-box {
                    opacity: 1;
                    visibility: visible;
                    z-index: 15;
                    top: -3px;

                    @include lt-box-shadow(0px, 5px, 5px, 2px, #ddd);

                    .lt-btn-showmore {
                        visibility: visible;
                    }

                    .lt-btn-group-custom {
                        .btn-wishlist {
                            .wishlist-icon {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        .compare-icon {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.widget.woocommerce {
    .product_list_widget {
        li.li_wapper {
            margin-bottom: 35px;

            .item-product-widget {
                .product-meta {
                    .product-title {
                        margin-bottom: 5px;

                        a {
                            font-size: 95%;
                            line-height: 1.1;
                            letter-spacing: 0;
                            font-weight: normal;
                            border-bottom: none;
                        }
                    }
                }

                .product-item-content {
                    .info {
                        .button {
                            &.small {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hide-cart-button .add_to_cart_button {
    display: none;
}

.woocommerce.widget_products .add-to-cart-btn {
    display: none;
}

//Fix position quick view icon on widget
.widget .item-product-widget .images .quick-view {
    top: 30%;
    left: 35%;
}

//Fix margin for widget
.widget .product_list_widget {
    margin-top: 26px;
}

//Success add to cart - added
.added {
    .cart-icon-handle {
        display: none;

        &:before {
            content: "\f00c";
            font-family: "FontAwesome";
        }
    }

    .add_to_cart_text {
        display: none !important;
    }
}

.product_list_widget .add-to-cart-grid {
    &.added {
        background: $success_color !important;
        border-color: $success_color !important;
        color: #fff;

        .cart-icon-handle {
            display: block;
        }

        .cart-icon {
            display: none;
        }

        &:hover {
            border-color: $primary-color !important;
        }
    }
}

.woocommerce-result-count,
.woocommerce-ordering {
    display: inline-block;
    margin-bottom: 0;
}

.woocommerce-ordering,
.woocommerce-ordering .custom.dropdown,
.woocommerce-ordering select {
    margin: 0;
}

del {
    .amount {
        color: #aaa !important;
    }
}