/* ============================ Portfolio ===================================== */
// Portfolio Page / #Portfolio
.slider-container {
    margin-top: 70px;
}

.recentPortfolio {
    .slider-item {
        margin: 0 ($column-gutter / 2);

        .portfolio-caption {
            line-height: 20px;

            h3 {
                font: 16px/24px Helvetica, sans-serif;
                font-weight: 600;
            }

            h2 {
                font: 20px/24px Helvetica, sans-serif;
                font-weight: 600;
            }

            p {
                font: 13px/24px Helvetica, sans-serif;
                color: #767676;
                margin: 0 0 10px;
            }
        }
    }
}

/*---------------------------------------------------------------*/
/* Portfolio
/*---------------------------------------------------------------*/
.loadmore-portfolio {
    display: none;
}

.portfolio-single-item {
    margin-top: 20px;
    margin-bottom: 60px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;

    .portfolio-image {
        .btn_group {
            top: 40%;
        }
    }

    h3 {
        text-transform: none;
        font-weight: 300;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

    &.columns-count-2 {
        .portfolio-description {
            text-align: left;
        }
    }

    .portfolio-image {
        position: relative;
        margin: 0px 3px 3px 0px;
        top: 0;
        z-index: 1;

        @include single-transition(all, 350ms);

        img {
            width: 100%;
        }

        .btn_group {
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 2;
            text-align: center;

            .portfolio-image-view {
                top: 40px;
            }

            .portfolio-link {
                top: -40px;
            }

            .portfolio-image-view,
            .portfolio-link {
                position: relative;
                opacity: 0;

                @include single-transition(all, 350ms);
            }

            a {
                background: #252525;
                border-radius: 100% !important;
                padding: 0 !important;
                line-height: 0px !important;
                width: 40px;
                height: 40px;
                margin-right: 5px;
                display: inline-block;
                opacity: 0.5;

                @include single-transition(all, 350ms);

                &:focus {
                    outline: none;
                }

                &:after {}

                &:first-child {
                    &:before {
                        content: "\f065" !important;
                        line-height: 40px;
                        font-family: "FontAwesome";
                        color: #fff;
                        font-size: 15px;
                    }
                }

                &:last-child {
                    :before {
                        content: "\f0c1" !important;
                        line-height: 40px;
                        font-family: "FontAwesome";
                        color: #fff;
                        font-size: 15px;
                    }
                }

                &:hover {
                    opacity: 0.8;
                    background: $color-hover;
                }

                span {
                    text-transform: uppercase;
                    font-size: 0;

                    i {
                        font-size: 16px;
                        position: relative;
                        left: 1px;
                        right: 1px;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        bottom: -2px;
                        left: -2px;

                        @include single-transition(all, 350ms, linear);
                    }

                    &:before {
                        content: '';
                        display: block;

                        @include single-transition(all, 350ms, linear);
                    }
                }
            }
        }

        .zoom {
            @include single-transition(all, 350ms);

            opacity: 0;
            visibility: hidden;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity = 0);

            > i {
                @include single-transition(all, 350ms);

                background-color: #ddd !important;
                opacity: 0.6;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
            }
        }
    }

    .portfolio-description {
        line-height: 18px;
        font-size: $font-size;
        padding: 15px 15px 20px 15px;
        position: absolute;
        z-index: 2;
        bottom: -100px;
        width: 100%;
        background: #fff;
        opacity: 0;

        @include single-transition(all, 350ms);

        .portfolio-cat {
            a {
                color: #aaa;
            }
        }

        a {
            color: $primary-color;

            &:hover {
                color: #767676;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 130%;

            a {
                color: #252525;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        p {
            color: #767676;
            font: 13px/20px Arial, Helvetica, sans-serif;
        }
    }

    &:hover {
        .portfolio-image {
            top: -20px;

            .zoom {
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                filter: alpha(opacity = 100);
                visibility: visible;
            }

            .portfolio-image-view,
            .portfolio-link {
                opacity: 0.5;
                top: 0;
            }
        }

        .portfolio-description {
            opacity: 1;
            bottom: 0;
        }
    }
}

.items-slider-portfolio {
    .portfolio-item {
        margin: 0 1px !important;

        &:hover {
            .portfolio-image {
                top: 0px;
            }
        }
    }
}

.portfolio-pagination {
    float: right;

    li {
        margin: 0 2px 0 2px;
        float: left;
        list-style: none;

        span.page-numbers,
        .inactive {
            padding: 6px 10px;
            font: 14px/15px Arial, Helvetica, sans-serif;
            font-weight: 500;

            &.current {
                color: #FFF;
                background-color: #000;
            }
        }
    }
}

@media (min-width: 980px) {
    .portfolio-item.columns-count-4 {
        width: 24.8%;

        .portfolio-image .btn_group {
            margin-top: -42px;

            a {
                margin-bottom: 10px;
            }
        }
    }
}

.back-history {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    font-size: 13px;

    &:hover,
    &:focus {
        text-decoration: none !important;
    }

    &:before {
        content: "\f104";
        font-family: FontAwesome;
        font-size: 9px;
        margin: 0 9px 0 0;
        position: relative;
        top: -1px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}

h2.title,
h3.title {
    position: relative;
    font-size: 22px;
    margin: 25px 0 20px;

    &:before {
        border-top: 1px solid #dddddd;
        right: 0px;
        width: 100%;
        content: "";
        display: block;
        position: absolute;
        top: 50%;
    }

    span {
        text-transform: uppercase;
        background-color: #fff;
        position: relative;
        z-index: 1;
        padding: 0 20px;
    }
}

.upercase {
    text-transform: uppercase;
}

.portfolio-navigation {
    margin-top: 15px;
    float: left;
    width: 100%;
    margin-bottom: 30px;

    + .title-alt {
        margin-top: 0;
    }

    .portfolio-nav {
        padding: 7px 15px;
        display: block;
    }

    .next-portfolio,
    .prev-portfolio {
        position: relative;
        background-color: #bbb;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $primary-color;
            color: #fff;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            a {
                border-color: $primary-color;
            }
        }

        a {
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            border-color: #bbb;
            color: #fff !important;

            &:hover {
                border-color: $primary-color;
                color: #fff;
                background-color: $primary-color;
                -webkit-transition: all 0.2s ease-in-out;
                -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
        }

        .hide-info {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 250px;
            top: -76px;
            left: auto;
            background-color: #FFF;
            border: 1px solid #eee;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -ms-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            z-index: 100;
            -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
            display: table;

            &:before {
                bottom: -22px;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(213, 213, 213, 0);
                border-top-color: #D5D5D5;
                border-width: 11px;
                margin-left: 44px;
            }

            &:after {
                bottom: -20px;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-top-color: #ffffff;
                border-width: 10px;
                margin-left: 45px;
            }

            img {
                float: left;
                margin-right: 10px;
                height: auto;
                max-width: 125px;
                max-height: 60px;
            }

            span {
                font-weight: 500;
                font-size: 12px;
                display: block;
                margin: 0 !important;
                color: $primary-color;
                text-transform: uppercase;
                display: table-cell;
                vertical-align: middle;

                &.price {
                    font-weight: 500;
                    color: #252525;
                    margin: 0 !important;
                    line-height: 15px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }

        &:hover {
            .hide-info {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .prev-portfolio {
        .hide-info {
            left: 0;
            right: auto;
            padding-right: 10px;

            img {
                float: left;
                margin-right: 10px;
                margin-left: 0;
            }

            span {
                margin-right: 10px;
                right: 0;
            }

            &:before,
            &:after {
                left: 0;
                right: auto;
            }
        }
    }

    .next-portfolio {
        .hide-info {
            right: 0;
            left: auto;
            padding-left: 10px;

            &:before,
            &:after {
                left: 160px;
                right: 20px;
            }
        }

        img {
            float: right !important;
            margin-right: 0 !important;
            margin-left: 10px;
        }

        span {
            text-align: left;
            margin-left: 10px;
            left: 0;
        }
    }
}

.recent-categ {
    margin-bottom: 25px;
}

.all-pages {
    font-size: 12px;
    color: #252525;
    letter-spacing: 1px;
    line-height: 33px;
}

.meta-content {
    list-style: none;
    font-size: $font-size;
    margin: 30px 0 5px;
    padding: 0;
    color: #767676;

    li {
        border-top: 1px solid #ddd;
        padding: 15px 0px;

        &.lastItem {
            border-bottom: 1px solid #ddd;
        }

        a {
            color: $primary-color;
        }
    }

    strong {
        color: #515151;
    }
}

.portfolio-list {
    margin-bottom: 20px !important;
}

.portfolio-lightbox {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    position: relative;
}