ul.products-group {
    margin: 0;

    li {
        padding: 0;
    }
}

/* Override the Global Elements radius */
.woocommerce-billing-fields {
    input {
        padding-left: $input-padding-left !important;
    }
}

textarea#order_comments,
input#coupon_code,
input.subscribe-input {
    padding: $input-padding-left !important;
}

//.product-summary{display: none!important;}

#main-content .select2-container .select2-choice {
    padding: 10px 5px 10px 8px;
}

textarea.schat-reply, textarea.schat-field {
    padding: 10px !important;
}