/**
 * SELECT 2
 */

.cxsac-switch-form .select2-container {
	margin: 0;
	position: relative;
	display: block !important;
	zoom:1;
	vertical-align: middle;
}

.cxsac-switch-form .select2-container,
.select2-drop,
.select2-search,
.select2-search input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cxsac-switch-form .select2-container .select2-choice {
	display: block;
	padding: 0 0 0 8px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
	white-space: nowrap;
	color: #444;
	text-decoration: none;
	border-radius: 3px;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	font-weight: 400;
	line-height: 22px;
}

html[dir=rtl] .cxsac-switch-form .select2-container .select2-choice {
	padding: 0 8px 0 0;
}

.cxsac-switch-form .select2-container.select2-drop-above .select2-choice {
	border-bottom-color: #ccc;
	border-radius: 0 0 4px 4px;
}

.cxsac-switch-form .select2-container.select2-allowclear .select2-choice .select2-chosen {
	margin-right: 42px;
}

.cxsac-switch-form .select2-container .select2-choice>.select2-chosen {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: none;
	width: auto;
	font-weight: normal;
}

html[dir=rtl] .cxsac-switch-form .select2-container .select2-choice>.select2-chosen {
	margin-left: 26px;
	margin-right: 0;
}

.cxsac-switch-form .select2-container .select2-choice abbr {
	display: none;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 24px;
	top: 5px;
	font-size: 1px;
	text-decoration: none;
	border: 0;
	background: url(../images/select2.png) right top no-repeat;
	cursor: pointer;
	outline: 0;;
}

.cxsac-switch-form .select2-container.select2-allowclear .select2-choice abbr {
	display: inline-block;
}

.cxsac-switch-form .select2-container .select2-choice abbr:hover {
	background-position: right -11px;
	cursor: pointer;
}

.select2-drop-mask {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 9998;
	background-color: #fff;
	filter: alpha(opacity=0);
}

.select2-drop {
	width: 100%;
	margin-top: -1px;
	position: absolute;
	top: 100%;
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	border-top: 0;
	border-radius: 0 0 3px 3px;
}

.select2-drop.select2-drop-above {
	margin-top: 1px;
	border-top: 1px solid #ccc;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
}

.select2-drop-active {
	border: 1px solid #666;
	border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
	border-top: 1px solid #666;
}

.select2-drop-auto-width {
	border-top: 1px solid #ccc;
	width: auto;
}

.select2-drop-auto-width .select2-search {
	padding-top: 4px;
}

.cxsac-switch-form .select2-container .select2-choice .select2-arrow {
	display: inline-block;
	width: 18px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 3px 3px 0;
	background-clip: padding-box;
}

html[dir=rtl] .cxsac-switch-form .select2-container .select2-choice .select2-arrow {
	left: 0;
	right: auto;
	border-radius: 3px 0 0 3px;
}

.cxsac-switch-form .select2-container .select2-choice .select2-arrow b {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: none;;
}

.cxsac-switch-form .select2-container .select2-choice .select2-arrow b:after {
	position: absolute;
	display: block;
	content: "";
	top: 50%;
	left: 50%;
	border: 4px solid transparent;
	border-top-color: #666;
	margin-left: -7px;
	margin-top: -2px;
}

.select2-search {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
	padding-bottom: 4px;
}

.select2-search input {
	width: 100%;
	height: auto!important;
	padding: 4px 20px 4px 5px!important;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 1em;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	box-shadow: none;
	/* background: url(../images/select2.png) 100% -22px no-repeat #fff; */;
}

html[dir=rtl] .select2-search input {
	padding: 4px 5px 4px 20px;
	background: url(../images/select2.png) -37px -22px no-repeat #fff;
}

.select2-drop.select2-drop-above .select2-search input {
	margin-top: 4px;
}

.select2-search input.select2-active {
	background: url(../images/select2-spinner.gif) 100% no-repeat #fff;
}

.cxsac-switch-form .select2-container-active .select2-choice,
.cxsac-switch-form .select2-container-active .select2-choices {
	border: 1px solid #666;
	outline: 0;
}

.cxsac-switch-form .select2-dropdown-open .select2-choice {
	border-bottom-color: transparent;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.cxsac-switch-form .select2-container .select2-choice .select2-arrow:before {
	display: none;;
}

.cxsac-switch-form .select2-dropdown-open .select2-choice .select2-arrow b:after {
	border-top-color: transparent;
	border-bottom-color: #666;
	margin-top: -6px;
}

.cxsac-switch-form .select2-dropdown-open.select2-drop-above .select2-choice,
.cxsac-switch-form .select2-dropdown-open.select2-drop-above .select2-choices {
	border: 1px solid #666;
	border-top-color: transparent;
}

.cxsac-switch-form .select2-dropdown-open .select2-choice .select2-arrow {
	background: 0 0;
	border-left: none;
	filter: none;
}

html[dir=rtl] .cxsac-switch-form .select2-dropdown-open .select2-choice .select2-arrow {
	border-right: none;
}

.cxsac-switch-form .select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -18px 1px;
}

html[dir=rtl] .cxsac-switch-form .select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -16px 1px;
}

.select2-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.select2-results {
	max-height: 200px;
	padding: 4px;
	margin: 0;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: transparent;
	background: #fafafa;
}

html[dir=rtl] .select2-results {
	padding: 0 4px 0 0;
	margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
	margin: 0;
	padding-left: 0;
}

.select2-results li {
	list-style: none;
	display: list-item;
	background-image: none;
	margin: 3px 0;
}

.select2-results li.select2-result-with-children>.select2-result-label {
	font-weight: 700;
}

.select2-results .select2-result-label {
	padding: 5px 7px;
	margin: 0;
	cursor: pointer;
	min-height: 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select2-results-dept-1 .select2-result-label {
	padding-left: 20px;
}

.select2-results-dept-2 .select2-result-label {
	padding-left: 40px;
}

.select2-results-dept-3 .select2-result-label {
	padding-left: 60px;
}

.select2-results-dept-4 .select2-result-label {
	padding-left: 80px;
}

.select2-results-dept-5 .select2-result-label {
	padding-left: 100px;
}

.select2-results-dept-6 .select2-result-label {
	padding-left: 110px;
}

.select2-results-dept-7 .select2-result-label {
	padding-left: 120px;
}

.select2-results .select2-highlighted {
	background: #f1f1f1;
	color: #000;
	border-radius: 3px;
}

.select2-results li em {
	background: #feffde;
	font-style: normal;
}

.select2-results .select2-highlighted em {
	background: 0 0;
}

.select2-results .select2-highlighted ul {
	background: #fff;
	color: #000;
}

.select2-results .select2-ajax-error,
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
	background: #f4f4f4;
	display: list-item;
	padding-left: 5px;
}

.select2-results .select2-disabled.select2-highlighted {
	color: #666;
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}

.select2-results .select2-disabled {
	background: #f4f4f4;
	display: list-item;
	cursor: default;
}

.select2-results .select2-selected {
	display: none;
}

.select2-more-results.select2-active {
	background: url(../images/select2-spinner.gif) 100% no-repeat #f4f4f4;
}

.select2-results .select2-ajax-error {
	background: rgba(255,50,50,.2);
}

.select2-more-results {
	background: #f4f4f4;
	display: list-item;
}

.cxsac-switch-form .select2-container.select2-container-disabled .select2-choice {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}

.cxsac-switch-form .select2-container.select2-container-disabled .select2-choice .select2-arrow {
	background-color: #f4f4f4;
	background-image: none;
	border-left: 0;
}

.cxsac-switch-form .select2-container.select2-container-disabled .select2-choice abbr {
	display: none;
}

.cxsac-switch-form .select2-container-multi .select2-choices {
	height: auto!important;
	height: 1%;
	margin: 0;
	padding: 0 5px 0 0;
	position: relative;
	border: 1px solid #ccc;
	cursor: text;
	overflow: hidden;
	background-color: #fff;
	min-height: 26px;
}

html[dir=rtl] .cxsac-switch-form .select2-container-multi .select2-choices {
	padding: 0 0 0 5px;
}

.select2-locked {
	padding: 3px 5px!important;
}

.cxsac-switch-form .select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #666;
	outline: 0;
}

.cxsac-switch-form .select2-container-multi .select2-choices li {
	float: left;
	list-style: none;
}

html[dir=rtl] .cxsac-switch-form .select2-container-multi .select2-choices li {
	float: right;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-field:first-child {
	width: 100%;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-field input {
	margin: 1px 0;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: 0 0!important;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-field input.select2-active {
	background: url(../images/select2-spinner.gif) 100% no-repeat #fff!important;
}

.select2-default {
	color: #999!important;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-choice {
	padding: 5px 8px 5px 24px;
	margin: 3px 0 3px 5px;
	position: relative;
	line-height: 15px;
	color: #333;
	cursor: default;
	border-radius: 2px;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #e4e4e4;
}

html[dir=rtl] .cxsac-switch-form .select2-container-multi .select2-choices .select2-search-choice {
	margin: 3px 5px 3px 0;
	padding: 5px 24px 5px 8px;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
	cursor: default;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-choice-focus {
	background: #d4d4d4;
}

.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 7px;
	top: 6px;
	font-size: 1px;
	outline: 0;
	background: url(../images/select2.png) right top no-repeat;
}

html[dir=rtl] .select2-search-choice-close {
	right: auto;
	left: 7px;
}

.cxsac-switch-form .select2-container-multi .select2-search-choice-close {
	left: 7px;
}

html[dir=rtl] .cxsac-switch-form .select2-container-multi .select2-search-choice-close {
	left: auto;
	right: 7px;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover,
.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
	background-position: right -11px;
}

.cxsac-switch-form .select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #ddd;
	cursor: default;
}

.cxsac-switch-form .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
	padding: 3px 5px;
	border: 1px solid #ddd;
	background-image: none;
	background-color: #f4f4f4;
}

.cxsac-switch-form .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
	background: 0 0;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
	text-decoration: underline;
}

.select2-offscreen,
.select2-offscreen:focus {
	clip: rect(0 0 0 0)!important;
	width: 1px!important;
	height: 1px!important;
	border: 0!important;
	margin: 0!important;
	padding: 0!important;
	overflow: hidden!important;
	position: absolute!important;
	outline: 0!important;
	left: 0!important;
	top: 0!important;
}

.select2-display-none {
	display: none;
}

.select2-measure-scrollbar {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 100px;
	height: 100px;
	overflow: scroll;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution:2dppx) {
	
	.select2-search input {
		background-image:url(../images/select2x2.png)!important;
		background-repeat: no-repeat!important;
		background-size: 60px 40px!important;
		background-position: 100% -21px!important;
	}
}

.tablenav .cxsac-switch-form .select2-container {
	float: left;
	max-width: 200px;
	font-size: 14px;
	vertical-align: middle;
	margin: 1px 6px 1px 1px;
}

.cxsac-switch-form .select2-container-multi .select2-choices .select2-search-field input {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 3px 5px;
}

.cxsac-switch-form .select2-container {
	line-height: 1.85em;
	font-size: 14px !important;
	font-weight: normal;;
}
