$blue: #0389e5;
$primary-color: $blue;

.bread .ebim-breadcrumb-row {
  h2 {
    display: inline-block;
    font-size: inherit !important;
    margin: 0 !important;
    line-height: inherit !important;
    float: none !important;
  }
  .fa {
    margin: 0 0.33rem;
  }
}

.ebim-breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;


}

.category-page {
  .page-description {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    line-height: 1.3;

    a {
      color: $primary-color;
    }

  }
}