/*************************************
customizations
**************************************/

/******************************
breadcrumb
******************************/

body .bread {
  margin-top: 0;
  border-top: 0;
  box-shadow: inset 0 1rem 0.5rem rgba(0,0,0,0.05);
}


/******************************
product lists
******************************/

.product-summary, .product-item {
  .product-interactions {
    .lt-seperator { display: none !important; }
    .btn-wishlist { display: none !important; }
  }
  .lt-separator-product-group-btn { border: none !important; }
}

/******************************
contact
*******************************/

body .contact-table {
  tr {
    td, th {
      vertical-align: top;
      padding: 0.8em 1em;
      &:first-child {
        max-width: 10em;
      }
    }
    td {
      //border-top: 1px solid #bbb;
    }
  }

  tr th {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
  }

  tbody {
    tr {
      &:nth-child(2n) {
        td {
          background: #eee;
        }
      }
    }
  }

}


/************************************
shop feats
***************************************/

.shop-features {
  display: none;
  margin-top: 3rem;

  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  .lt-col {
    width: 20%;
  }

  a {
    transition: 0.3s ease-in;
    opacity: 0.4;
    display: block;
    &:hover {
      opacity: 1;
    }
  }

}

@media screen and (min-width: 768px){
  .shop-features {
    display: block;
  }

  body #lt-footer {
    margin-top: 1rem;
  }
}



body {

  .site-header {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.06) 0%, rgba(0,0,0,0) 12%, rgba(0,0,0,0) 78%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,0) 78%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 12%,rgba(0,0,0,0) 78%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f000000', endColorstr='#00000000',GradientType=0 );
  }

  .header-utilities {
    [class*="column"] + [class*="column"]:last-child {
      float: left;
    }

    &__search {
      margin-top: 0.8rem;
    }

    .lt_search_full {
       width: 80%;

      margin: 0 auto;
       position: relative;

       > .icon {
         position: absolute;
         z-index: 2;
         top: 50%;
         transform: translateY(-50%);

         right: 0;
         color: #333;
         font-weight: bold;
         font-size: 120%;
         padding: 15px;
         cursor: pointer;
       }


       .lt-show-search-form {
         position: relative;
         top: 0; left: 0;
         z-index: 1;
         display: block;
         width: 100%;
       }

       .lt-show-search-form .search-wrapper form input[name="s"], #under-top-bar .lt_search_full .lt-show-search-form .search-wrapper form .tt-hint {
         padding: 10px 18px 10px 15px !important;
         border: 1px solid #ddd;
         border-radius: 0;
         font-size: 1.1em;
         height: 40px;
       }

     }



    .header-icons { list-style: none; margin: 0; float: right; }

    .header-icons {
      .icon {
        font-size: 1.4em;
        //vertical-align: top;
        top: 0.15em;
        margin-right: 0.1em;
        position: relative;
        opacity: 0.8;

      }
      &--contact {
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
      }

      .total-price {
        font-weight: bold;
      }


      li {
        display: table-cell;
        vertical-align: middle;
      }

      &__cart {
        transform: translateY(-0.3rem) !important;
      }

      a + a {
        margin-left: 0.8rem;
      }


    }

    .header-icons li { display: block; float: left;  padding: 0 13px;  }


    .header-icons li .pe7-icon { font-size: 160%; font-weight: bold; position: relative; top: 5px; }

    .header-icons li .products-number, #under-top-bar .header-icons li .wishlist-number, #under-top-bar .header-icons li .compare-number { font-size: 85%; }


    .header-icons li .products-number .lt-sl,
    .header-icons li .wishlist-number .lt-sl,
    .header-icons li .compare-number .lt-sl { position: absolute; background: #ff3333; color: #fff; text-align: center; top: -15%; line-height: 100%; padding: 3px 5px; border-radius: 99px; right: 20%; }

    .header-icons li .mini-cart { top: 3px; }

    .header-icons li .mini-cart .products-number, .header-icons li .mini-cart .wishlist-number, #under-top-bar .header-icons li .mini-cart .compare-number { top: -10%; left: 40%; }

    .header-icons li .mini-cart.mini-cart-type-full .cart-link .cart-count { font-size: 120%; color: #333; font-weight: 600; }

  }

}