@CHARSET "UTF-8";

.dhl-package {
    border-bottom: 1px solid #eee;
}

.dhl-dimensions label {
	display: block;
}

.dhl-dimensions p, .dhl-dimensions p label {
	display: inline;
}

.dhl-dimensions p.form-row input {
	width: 50px;
}

.dhl-button-add {
	float: right;
}

.dhl-button-add-package {
	float: right;
}

.dhl-button-delete, .dhl-button-delete-created {
	color: #a00;
	vertical-align: top;
	float: right;
	font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
}

.dhl-button-delete-package {
	color: #a00;
	float: right;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
}

.dhl-spinner {
	float: none;
}

.dhl_error {
	color: red;
	margin: 0 4px 2px 0;
	cursor: pointer;
}

a.dhl_error {
	color: red;
	margin: 0 4px 2px 0;
	cursor: pointer;
}


.dhl-print-message {
	display: block;
	margin: 10px 0px 10px 0px;
}