/*
Theme Name: Elektrobim
Theme URI: http://positiva.com.pl
Author: POSITIVA Sp. z o. o.
Author URI: http://positiva.com.pl
Description: Motyw dla elektrobim.pl
Template: techstore-theme
Version: 1.0.0
*/
/*--------------------------------------------------------------
Reset
--------------------------------------------------------------*/

.nav-wrapper .header-nav li.menu-item.default-menu > .nav-dropdown > .div-sub ul.sub-menu {
    padding: 20px 30px;
}
.nav-wrapper .header-nav li.menu-item.default-menu li.menu-item {
    width: 200px;
}
.nav-wrapper .header-nav li.menu-item.default-menu > .nav-dropdown > .div-sub ul.sub-menu li.menu-parent-item > a::after {
    margin-right: 5px;
}
.nav-wrapper .header-nav li.menu-item.default-menu > .nav-dropdown > .div-sub > ul li.menu-item:hover > .nav-column-links > .div-sub > ul {
    left: 210px;
    z-index: 9;
}
.woocommerce-order .woocommerce-order-details table.shop_table {
    width: auto;
    min-width: 50%;
}
.woocommerce-order .woocommerce-order-details table.shop_table tfoot tr td {
    text-align: left;
    padding-left: 20px;
}
.woocommerce-order .woocommerce-order-details table.shop_table .product-total {
    padding-left: 20px;
}
.woocommerce-order .woocommerce-order-details table.shop_table .product-name {
    width: auto;
}
.entry-content p.woocommerce-thankyou-order-received {
    font-size: 27px;
    margin-bottom: 15px;
}
.entry-content .woocommerce-order ul {
    padding-left: 15px;
}
.woocommerce-notice-go-to-orders {
    clear:both;
    position: relative;
    top: 20px;
}
.woocommerce-notice-go-to-orders a{
    color: #0389e5;
}
.entry-content address p {
    font-size: 100%;
    margin-bottom:0px;
}