<span style='color: #000' title='Frames'>   101</span><span style='color: #009' title='Memory'>  51200.00 KB</span><span style='color: #900' title='Time'>    201.74 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />