/*.j15-privacy-field {
  position: relative;
  padding-left: 1.5rem;
  &__input {
    position: absolute;
    left: 0;
    top: 0.4rem;
  }
}*/
.wpcf7-acceptance {
  position: relative; }
  .wpcf7-acceptance .wpcf7-list-item {
    position: relative;
    padding-left: 1.75rem; }
    .wpcf7-acceptance .wpcf7-list-item:first-child:last-child {
      margin-left: 0; }
    .wpcf7-acceptance .wpcf7-list-item input {
      position: absolute;
      left: 0;
      top: 0.4rem; }

.woocommerce-form__label-for-checkbox {
  position: relative;
  padding-left: 1.75em; }
  .woocommerce-form__label-for-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0.4rem;
    left: 0; }

.cookie-notice-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 92.3076923077em;
  padding: 1.5rem; }
  .cookie-notice-container a {
    color: inherit;
    text-decoration: underline; }
  .cookie-notice-container .cn-button {
    margin: 1rem 0 0;
    text-decoration: none; }

@media all and (min-width: 800px) {
  .cookie-notice-container {
    text-align: left;
    position: relative;
    padding: 2rem 12rem 2rem 2rem; }
    .cookie-notice-container .cn-button {
      position: absolute;
      right: 0;
      top: 2rem;
      margin: 0; } }

/*# sourceMappingURL=style.css.map */
