//
// Table Variables
//

// These control the background color for the table and even rows

// These control the table head styles
$table-head-font-size: emCalc(13px) !default;
$table-head-font-weight: bold !default;
$table-head-padding: emCalc(8px) 0 !default;

// These control the row padding and font styles
$table-row-padding: emCalc(9px) emCalc(0px) !default;
$table-row-font-size: emCalc(13px) !default;
$table-line-height: emCalc(18px) !default;

// These are for controlling the display and margin of tables
$table-display: table-cell !default;
$table-margin-bottom: emCalc(20px) !default;

//
// Table Mixin
//
@mixin table {
    margin-bottom: $table-margin-bottom;
    width: 100%;

    thead,
    tfoot {
        font-weight: $table-head-font-weight;

        tr {
            th,
            td {
                padding: $table-head-padding;
                font-size: $table-head-font-size;
                text-align: $default-float;
            }
        }
    }

    tr {
        th,
        td {
            padding: $table-row-padding;
            font-size: $table-row-font-size;
        }

        &.even,
        &.alt,
        &:nth-of-type(even) {}
    }

    thead tr th,
    tfoot tr th,
    tbody tr td,
    tr td,
    tfoot tr td {
        display: $table-display;
        line-height: $table-line-height;
    }
}

/* Tables */
table {
    @include table;
}

table th {
    font-weight: bold;
}

table td, table th {
    padding: 0px 10px 15px;
    text-align: left;
}

table tr:last-child {
    border-bottom: 0;
}