/* PRODUCT DEFAULT GENERAL */
/* Product item */
.product-item {
    position: relative;
    display: block;
    margin-bottom: 30px;

    .inner-wrap {
        position: relative;
        background: #fff;

        .lt-slider.lt-thumbs-slide {
            z-index: 11;
            border: 1px solid #e2e2e2;

            .content-img {
                padding: 50px 20px 50px;
                overflow: hidden;
            }
        }
    }

    h5 {
        margin-bottom: 0px;
        text-transform: uppercase;
        font-size: $font-size;
        color: #999;
        font-weight: bolder;
    }

    p {
        margin-bottom: 9px;
        line-height: 120%;
        margin-top: 5px;

        &.name {
            font-size: 120%;
            width: 70%;
            font-weight: bold;
            left: 20px;
            top: 10px;
            position: absolute;
            z-index: 100;

            a {
                color: $body-font-color;
            }
        }
    }

    .hover-overlay {
        .product-summary {
            display: none;
        }
    }

    .info {
        position: relative;

        .product-summary {
            opacity: 1;

            //display: none;
       
        }

        .info_main {
            position: relative;
            z-index: 11;
            background: transparent;
            padding-top: 2px;
            overflow: hidden;
        }

        .name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            a {
                font-size: 120%;
                line-height: 130%;
                text-transform: capitalize;

                @include single-transition(all, 350ms);

                color: #333;
            }

            &:hover {
                color: $primary-color;
            }
        }

        .star-rating {
            display: none;
            font-size: $font-size;
            margin-bottom: 5px;
        }

        .price {
            font-size: 110%;
            color: #333;
            line-height: 100%;

            .amount {
                font-size: 85%;
                color: $primary-color;
                font-weight: bold;
            }

            del {
                color: #aaa;

                span.amount {
                    font-weight: normal;
                    color: #aaa !important;
                    font-size: 65%;
                }
            }

            &.large {
                font-size: 190%;
                margin-bottom: 20px;

                del {
                    span.amount {
                        font-size: 70%;
                    }
                }
            }

            ins {
                text-decoration: none;
                float: left;
                margin-right: 5px;

                .amount {
                    font-size: 85%;
                    color: $primary-color;
                    font-weight: bold;
                }
            }

            .from {
                font-weight: normal;
                color: #888;
                font-size: $font-size;
            }
        }
    }

    .bery-hr {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &.out-of-stock {}

    .product-des {
        display: none;
    }

    /*.product-summary{
    position: absolute;
    right: 0;
    top: 25%;
    z-index: 10;
    cursor: pointer;
    }*/
    .product-img {}

    .product-des {
        font-size: $font-size;
    }
}

/* Product group button*/
.product-interactions {
    float: right;
}

.quick-view-icon {
    .lt-icon-text {
        height: 25px;
        width: 33px;
        line-height: 155%;
        text-align: center;
        display: block;
        position: relative;
        border: 1px solid #666;
        -webkit-transition: all 350ms ease;
        -moz-transition: all 350ms ease;

        @include radius(12px);

        transition: all 350ms ease;

        @include single-transition(all, 350ms);

        .pe-icon {
            line-height: 23px;
            font-size: 130%;
        }

        &:hover {
            background: $primary-color;
            border-color: $primary-color;
            color: #fff;
        }
    }
}

/* Hover product */
.product-item.hover-flip {
    .product-img {
        img {
            -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        }

        .main-img img {
            @include rotate(0deg);
        }

        .back-img img {
            @include rotate-Y(-180deg);

            top: 0;
        }
    }

    &:hover {
        .main-img img {
            @include rotate-Y(180deg);
        }

        .back-img img {
            @include rotate(0deg);

            z-index: 1;
        }
    }
}

.product-item.hover-fade {
    .product-img {
        img {
            @include single-transition(all, 800ms);
        }

        .main-img img {
            opacity: 1;
        }

        .back-img img {
            opacity: 0;
            top: 0;
        }
    }

    &:hover {
        .main-img img {
            opacity: 0;
        }

        .back-img img {
            opacity: 1;
            z-index: 1;
        }
    }
}

.product-item.hover-bottom-to-top {
    .product-img {
        img {
            @include single-transition(all, 1000ms);
        }
    }

    &:hover {
        .main-img img, .back-img img {
            -webkit-transform: translate3D(0, -100%, 0);
            transform: translate3D(0, -100%, 0);
        }
    }
}

.product-img {
    position: relative;

    //overflow: hidden;
    cursor: pointer;

    .main-img {
        display: block;
        width: auto;
        height: auto;

        img {
            min-width: 100%;
            display: block;
        }
    }

    .back-img {
        img {
            display: block;
            min-width: 100%;
            position: absolute;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
        }
    }

    img {
        &.attachment-shop_catalog,
        &.attachment-shop_single,
        &.attachment-shop_thumbnail,
        &.woocommerce-placeholder {
            display: block;
        }
    }

    //Hover overlay
    &.hover-overlay:after {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
        content: "";
        opacity: 0;
        z-index: 2;
    }

    &.hover-overlay {
        a {
            position: relative;
            display: block;
            z-index: 3;
        }
    }
}

/* Hover Product image */
.product-img .image-overlay,
.product-thumbnail .image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    opacity: 0;

    @include single-transition(all, 350ms);

    overflow: hidden;
    display: block;
}

/* End Hover product */

/* Badge (Sale label, Sold out..) */
.badge {
    position: absolute;
    z-index: 12;
    right: 0;
    top: 0px;

    @include single-transition(all, 350ms);

    .badge-inner {
        position: relative;
        display: inline-block;
        min-width: 30px;
        height: 20px;
        z-index: 4;
        background: $primary-color;

        @include single-transition(all, 350ms);

        @include radius(0);

        cursor: pointer;

        &:before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 20px 20px 0;
            border-color: transparent $primary-color transparent transparent;
            content: "";
            position: absolute;
            left: -20px;
        }

        .inner-text {
            position: relative;
            line-height: 20px;
            text-align: center;
            padding: 0px 5px 0px 0px;

            @include single-transition(all, 350ms);

            font-size: 85%;
            font-weight: normal;
            text-transform: uppercase;
            color: #fff;
        }

        &:hover {
            .inner-text {
                padding: 0px 5px;
            }
        }

        &.out-of-stock-label {
            background: #ccc;

            &:before {
                border-color: transparent #ccc transparent transparent;
            }
        }
    }
}

.product-gallery {
    .badge {
        left: 10px;
        top: 0;
        height: 30px;

        .badge-inner {
            height: 100%;

            .inner-text {
                padding-left: 15px;
                line-height: 30px;
                font-size: 100%;
                padding-right: 0;
            }

            &:before {
                border: none;
            }

            &:after {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 30px 30px 0px 0px;
                border-color: $secondary-color transparent transparent transparent;
                content: "";
                top: 0px;
                position: absolute;
                right: -30px;
            }
        }
    }
}

/* End Badge */

/* Product quick view */
.product-lightbox {
    text-align: center;
    background: #fff;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    .product-lightbox-inner {
        padding: 30px 30px 10px;

        .short-description {
            max-height: 220px;
            overflow-y: auto;
            text-align: left;
        }

        button {
            float: left;
            margin-right: 5px;
            padding-top: 1.05em;
            padding-bottom: 1.05em;
        }

        .variations_button {
            .quantity {
                width: 80px;

                &.buttons_added {
                    margin-right: 10px;
                }
            }
        }

        form.cart {
            margin-top: 20px;
            margin-bottom: 20px;
            overflow: hidden;
        }

        .quantity {
            width: 80px;

            &.buttons_added {
                margin-right: 10px;
            }

            .minus {
                left: 8px;
            }

            .plus {
                right: 8px;
            }
        }

        .social-icons {
            float: left;
        }
    }

    .owl-carousel {
        .owl-nav {
            top: 45%;
        }

        &:hover .owl-nav {
            .owl-next {
                right: 10px;
            }

            .owl-prev {
                left: 10px;
            }
        }
    }
}

/* Next - Prev Product */
.product-details-bread {
    position: relative;

    .products-arrow {
        z-index: 2;
        margin-top: -59px;
    }
}

.products-arrow {
    float: right;

    .next-prev-buttons {
        display: inline-block;
        position: relative;

        .icon-next-prev {
            border: 1px solid #ddd;
            padding: 3px 8px;
            color: #aaa;

            @include single-transition(all, 350ms);

            &:hover {
                border-color: $primary-color;
                background: $primary-color;
                color: #fff;
            }
        }

        &:hover .dropdown-wrap {
            visibility: visible;
        }

        .dropdown-wrap {
            position: absolute;
            top: 38px;
            width: 280px;
            border: 1px solid rgb(238, 238, 238);
            background: rgb(255, 255, 255) none repeat scroll 0% 0%;
            visibility: hidden;
            z-index: 9999;
            box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);

            @include single-transition(all, 100ms);

            img {
                max-height: 80px;
                width: auto;
            }

            div {
                float: left;
                width: 175px;
                padding: 15px;

                .product-name {
                    display: block;
                    font-size: 110%;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .next-product {
        .dropdown-wrap {
            right: 0;
        }

        img {
            float: left;
        }

        div {
            float: right;
        }
    }

    .prev-product {
        .dropdown-wrap {
            right: 0;
        }

        img {
            float: right;
        }

        div {
            float: left;
        }
    }

    .prod-dropdown {
        display: inline-block;
    }
}

.up-sell.large-block-grid-2 li {
    padding: 0px 3px 6px 3px;
    margin-bottom: 0px;
}

.up-sell.large-block-grid-2 li img {
    display: block;
}

.up-sell .product.small {
    position: relative;
}

/* Product details price */
.price.large del span.amount {
    font-size: 70%;
}

.price.large {
    font-size: 190%;
    margin-bottom: 20px;
}

del {
    color: #aaa;
    font-weight: normal;
}

ins {
    text-decoration: none;
}

// detail product
.single-product {
    .product-gallery {
        .images {
            border: 1px solid #ddd;
        }
    }
}

//Product description
.short-description ul li,
.product-des ul li,
.lt-product-deal-des ul li,
.lt-sc-desc ul li,
.lt-product-item-excerpt ul li {
    list-style: none;

    &:before {
        content: "\f105";
        font-family: "FontAwesome";
        margin-right: 8px;
        color: #888;
    }
}