@media #{$mobile} {
    body {
        background: none;
        overflow-y: auto;
    }

    #lt-before-load {
        .lt-relative {
            .please-wait.type2 {
                p {}
            }
        }
    }

    #main-content {
        margin-top: 0px;
    }

    .page-inner {
        padding: 0;
        border: 0;
    }

    #content .bery_bg {
        padding-left: 0px;
        padding-right: 0px;
    }

    .config {
        display: none;
    }

    #top-link {
        display: none;
    }

    //Header
    #top-bar,
    #under-top-bar {
        display: none;
    }

    #masthead.stuck .mobile-menu {
        padding: 0;
    }

    .wide-nav,
    .setting-switcher,
    .header-fold-btn,
    .share-icon,
    .lt-groups,
    .header-utilities,
    .header-search,
    .header-share-icons {
        display: none !important;
    }

    #masthead .header-container .logo-wrapper {
        display: none;
    }

    .header-type-3 #masthead .header-container {
        .logo-wrapper {
            display: none;
        }

        .mobile-menu {
            .logo-wrapper {
                display: block;
                margin-bottom: inherit;
            }
        }
    }

    .header-container {
        background: #fff;
        padding: 30px 0px 20px 0px !important;
    }

    .mobile-menu {
        color: #666;
        width: 100%;
        position: relative;
        display: block;

        .icon-menu {
            font-size: 150%;
            padding-left: 10px;

            @include single-transition(all, 100ms);
        }

        .logo-wrapper {
            display: block !important;
            position: inherit !important;
            max-width: 120px;
            text-align: center;
            margin: -30px auto 0;
        }

        .mini-cart {
            float: right;
            top: -2px;
            right: 10px;
            position: absolute;

            .cart-link {
                .minicart-icon {
                    font-size: 140%;
                }

                .products-number {
                    strong {
                        font-size: $font-size;
                    }
                }
            }
        }

        .mini-account {
            float: right;
            margin-top: -30px;
            font-size: 130%;
            overflow: hidden;

            a {
                margin-right: 8px;
            }
        }
    }

    .wrapper-type-4 .header-type-4 {
        position: inherit;
        left: 0 !important;
        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: none;

        .logo {
            margin-bottom: 0;
        }
    }

    //Tabs
    .lt-tab {
        margin-bottom: 10px;
    }

    /* Tab Elements */
    .lt-tabs-content, .woocommerce-tabs {
        .lt-accordion-title {}

        .lt-tabs {
            li {
                a {
                    h5 {}
                }

                &.separator {
                    &:last-child {}
                }

                .bery-hr {}

                &.active, &:hover {
                    .bery-hr {}

                    h5 {}
                }
            }
        }

        .lt-panels {
            .lt-panel {
                &.active {}

                .product_list_widget {
                    .item-product-widget {
                        display: inline-block;
                        width: 100%;
                        float: left;
                    }

                    &.large-block-grid-4,
                    &.large-block-grid-5,
                    &.large-block-grid-3,
                    &.large-block-grid-2 {
                        .item-product-widget {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    .collapses .collapses-title {
        font-size: $font-size;
    }

    //Other Elements
    .client .client-inner {
        padding: 55px 0px;
    }

    .service-block .box .title .text {
        font-size: $font-size;
    }

    .service-block .box {
        margin-bottom: 15px;
    }

    .contact-information {
        margin-bottom: 40px;
    }

    //Shop page
    .sort-bar,
    .pagination-centered {
        margin-top: 15px;
    }

    .filters-container,
    .filters-container-down {
        text-align: right;
    }

    .filter-tabs {
        display: none;
    }

    .woocommerce.widget_products,
    .woocommerce.widget_top_rated_products {
        padding-right: 0px;
    }

    //Menu
    #vertical-menu-wrapper .nav-dropdown,
    .vertical-menu-wrapper .nav-dropdown {
        display: none;
    }

    //Checkout
    .checkout-breadcrumb {
        display: none;
    }

    #lt-menu-mobile li a.lt-hide-for-mobile,
    .lt-hide-for-mobile {
        display: none;
    }

    #lt-menu-mobile {
        ul[class*="block-grid-"] {
            > li {
                width: 100%;
            }
        }
    }

    //My account page
    .vertical-tabs .tabs-inner.active {
        padding-left: 0;
    }

    //Blog
    .icon-wrap.circle {
        display: none !important;
    }

    .group-blogs {
        .blog_info {
            margin-top: 10px;
            margin-bottom: 50px;
        }

        .blog-grid {
            .blog-grid-item {
                margin-bottom: 30px;

                .blog_info {
                    margin-top: 0px 0px 60px 0px;
                }

                .blog-image {
                    margin-bottom: 15px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //Products
    .product-summary,
    .products-arrow {
        display: none;
    }

    .product_list_widget > div:last-child {
        margin-bottom: 40px;
    }

    .product_list_widget .text-info {
        margin-left: 0px;
    }

    .product-category img,
    .product-item .main-img img {
        width: 100%;
    }

    .main-images {
        padding-right: 0px;
    }

    .back-image {
        display: none;
    }

    .product-gallery .images {
        margin-bottom: 20px;
    }

    .easyzoom img {
        max-width: 100%;
    }

    .easyzoom {
        width: 100%;
    }

    .product-image .attachment-shop_single {
        width: 100%;
    }

    .product-interactions {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -o-transform: none;
    }

    .woocommerce-message {
        padding-right: 0;
    }

    .woocommerce-result-count {
        display: none;
    }

    .product-gallery {
        margin-bottom: 0px;
    }

    //Slider
    .rev_slider_wrapper {
        margin-bottom: 20px !important;
    }

    .rev_slider_wrapper .type-label-2 span {
        display: block;
        font-size: 200%;
    }

    .owl-nav {
        display: none;
    }

    .tparrows {
        display: none;
    }

    .group-slider .small-block-grid-2 > li {
        width: 75%;
    }

    .header-container .revSlider {
        margin-top: 0 !important;
    }

    //Banner
    .banner {
        &.hover-lax {
            background-size: cover;
        }
    }

    //Cart
    li.mini-cart {
        padding: 0;
    }

    .cart-icon, .cart-icon strong {
        margin: 0;
    }

    .cart-wishlist .mini-cart .cart-link ul li {
        display: block;
    }

    .add-to-cart-grid-style2 .cart-icon {
        width: 100%;
    }

    .mini-cart.active .nav-dropdown {
        display: none;
    }

    .mini-cart .cart-price {
        margin-right: 15px;
    }

    .mini-cart .cart-inner {
        margin-top: 0px;
    }

    .cart-wishlist,
    .mini-cart {
        .wish-list-link,
        .cart-count {
            display: none !important;
        }
    }

    .woocommerce-cart span.title-cart {
        display: inline-block;
    }

    .cart-wrapper {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }

    .cart-wrapper,
    .shop_table.wishlist_table {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        overflow-y: hidden;
        -webkit-box-shadow: inset -10px 0px 40px 0px rgba(0, 0, 0, 0.1);
        box-shadow: inset -10px 0px 40px 0px rgba(0, 0, 0, 0.1);
    }

    .woocommerce-cart .cross-sells {
        display: none;
    }

    .item-product-widget .product-meta .add-to-cart-list {
        padding: 8px 3px;
    }

    .cart-sidebar .widget-title {
        display: none;
    }

    .woocommerce-message a.button {
        position: relative;
        float: right;
    }

    //Main menu navigation
    #masthead {
        -webkit-transition: 0.6s ease-in-out;
        -moz-transition: 0.6s ease-in-out;
        -o-transition: 0.6s ease-in-out;
        transition: 0.6s ease-in-out;
    }

    ul.main-navigation li .nav-dropdown {
        opacity: 1;
        visibility: visible;
        display: block;
        top: 10px;
    }

    ul.main-navigation li .nav-dropdown li.menu-parent-item {
        width: 100%;
    }

    ul.main-navigation li .nav-dropdown li a {
        margin-right: 0;
    }

    ul.main-navigation li .nav-dropdown .menu-parent-item > a {
        padding: 15px 0;
    }

    .main-navigation li .search-wrapper.yith-ajaxsearchform-container {
        display: none;
    }

    ul.main-navigation li .nav-dropdown {
        position: relative;
    }

    ul.main-navigation li.search-dropdown {
        display: none;
    }

    ul.main-navigation li {
        margin: 0;
    }

    //FOOTER
    #lt-footer {
        .footer {
            h4 {
                margin-bottom: 13px;
                margin-top: 20px;
            }
        }

        .social-icons {
            margin: 15px 0px;
        }

        .absolute-footer {
            p {
                margin: 8px 0px 15px 0px;
            }

            ul {
                overflow: hidden;
                width: 100%;

                li a {
                    display: block;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
            }

            .menu {
                li {
                    margin-top: 8px;
                }
            }
        }

        .widget_nav_menu {
            #menu-footer-menu {
                text-align: left;
                line-height: 1.6em;
            }
        }

        .social-icons {
            float: left;
        }
    }

    //Page Template
    .page-right-sidebar .blog-entry {
        padding-right: 0px;
        border-right: 0px;
    }

    .title-header {
        text-align: center;
    }

    .title-header .widget {
        border-top: 1px solid rgba(#FFF, 0.2);
    }

    .title-header .bery-hr {
        margin: 0 auto;
    }

    h4.heading-title,
    .tab h4 {
        font-size: 1.1em !important;
    }

    .entry-header .post-date-wrapper {
        margin: 0 auto;
        width: 70px;
        height: 70px;
    }

    .entry-header .post-date-wrapper .post-date .post-date-day {
        font-size: 150%;
    }

    .entry-header .post-date-wrapper .post-date .post-date-month {
        font-size: $font-size;
    }

    .entry-header .post-date-wrapper .post-date {
        left: 30%;
    }

    .entry-header .meta-author {
        margin-bottom: 20px;
    }

    .entry-header .entry-title {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .breadcrumb-row .right {
        width: 100%;
        text-align: center;
    }

    .breadcrumb-row .left {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    //Checkout
    .checkout-breadcrumb h1 {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .checkout-breadcrumb span,
    .checkout-breadcrumb span.divider {
        display: none;
    }

    .woocommerce-checkout span.title-checkout {
        display: inline-block;
    }

    #yith-wcwl-form {
        overflow: scroll;
    }

    //Font size class override fix
    .font-100 {
        font-size: 100% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-150 {
        font-size: 100% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-200 {
        font-size: 200% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-250 {
        font-size: 200% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-300 {
        font-size: 250% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-350 {
        font-size: 300% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-400 {
        font-size: 350% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-450 {
        font-size: 400% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-500 {
        font-size: 450% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-550 {
        font-size: 500% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-600 {
        font-size: 550% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    .font-650 {
        font-size: 600% !important;
        line-height: 100%;
        margin: 7px 0px;
    }

    //Jpanel Menu off Cavans
    #jPanelMenu-menu .search-wrapper {
        display: none;
    }

    #jPanelMenu-menu .navigation-search-wrap form {
        width: 200px;
        margin-top: 15px;
    }

    #jPanelMenu-menu li form {
        padding-top: 15px;
        padding-right: 10px;
    }

    #jPanelMenu-menu li form input,
    #jPanelMenu-menu li form button {
        margin-bottom: 10px;
    }

    #jPanelMenu-menu {
        -webkit-transition: 0.2s  ease-in-out;
        -moz-transition: 0.2s  ease-in-out;
        -o-transition: 0.2s  ease-in-out;
        transition: 0.2s  ease-in-out;
    }

    body[data-menu-position="open"] .jPanelMenu-panel {
        -webkit-transition: 0.3s  ease-in-out;
        -moz-transition: 0.3s  ease-in-out;
        -o-transition: 0.3s  ease-in-out;
        transition: 0.3s  ease-in-out;
        left: 0 !important;
        -webkit-transform: translate(250px);
        -o-transform: translate(250px);
        transform: translate(250px);
    }

    body[data-menu-position="closed"] #jPanelMenu-menu {
        -webkit-transform: translate(-250px);
        -o-transform: translate(-250px);
        transform: translate(-250px);
        display: block !important;
    }

    body[data-menu-position="open"] #jPanelMenu-menu {
        -webkit-transform: translate(0px);
        -o-transform: translate(0px);
        transform: translate(0px);
        z-index: 99 !important;
    }

    body[data-menu-position="open"] #masthead.move_down {
        top: -300px;
    }

    body[data-menu-position="open"] .jPanelMenu-panel * {
        pointer-events: none;
    }

    [data-menu-position="open"] .cart-link {
        pointer-events: none;
    }

    .filters-container .sort-bar .li-toggle-sidebar,
    .div-toggle-sidebar {
        display: block;
    }

    .col-sidebar,
    .column.col-sidebar,
    .columns.col-sidebar {
        position: fixed;
        top: 0;
        overflow-y: auto;
        direction: rtl;
        text-align: left;
        background: #fff;
        z-index: 9998;
        width: 80%;
        max-width: 300px;
        display: none;
        height: 100%;

        &.left {
            left: -100%;
        }

        &.right {
            right: -100%;
        }
    }

    .mobile-search {
        font-size: 125%;
        margin-left: 8px;
    }

    .warpper-mobile-search {
        display: block;
        position: fixed;
        z-index: 9999;
        background: #fff;
        padding: 15px 10px 25px 10px;
        width: 100%;
        top: -100%;
        box-shadow: 10px 5px 30px 3px #d1d1d1;
        text-align: center;

        input {
            width: 100%;
            margin: auto;
        }

        form {
            margin: 0;

            .screen-reader-text {
                position: relative;
                width: 100%;
                height: auto;
                padding-bottom: 10px;
                font-weight: bold;
                font-size: 120%;
            }

            input {
                margin: 0;
            }

            > label {
                padding-bottom: 10px;
            }
        }

        .twitter-typeahead,
        input.live-search-input {
            width: 100%;
        }

        .tt-dropdown-menu {
            width: 100%;
            background: #FFF;
            padding: 10px;
            border: 1px solid #ddd;
            border-top: none;
            left: 0;
            -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

            .item-search {
                max-height: 70px;
                overflow: hidden;

                a {
                    display: block;
                    width: 100%;
                    padding: 5px 0;
                    overflow: hidden;

                    &:hover {
                        background: #f9f9f9;
                    }

                    p {
                        font-size: 100%;
                        text-align: left;
                    }

                    .lee_item_title_search,
                    img {
                        float: left;
                    }

                    .lee_item_title_search {
                        margin-left: 12px;
                    }

                    img {
                        width: 60px;
                        height: 60px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .please-wait {}
    }

    /* Shortcode product deal */
    .lt-sc-pdeal {
        &.lt-sc-pdeal-block {
            margin: auto;

            .lt-sc-p-img {
                .lt-sc-pdeal-countdown {
                    .countdown {
                        .countdown-row {
                            .countdown-section {}
                        }
                    }
                }

                .product-images-slider {
                    .owl-height {}
                }

                .lt-sc-p-thumbs {}
            }

            .lt-sc-p-thumbs {
                .owl-item {
                    &.active-thumbnail {}

                    a {
                        &.active-thumbnail {}

                        img {}
                    }
                }
            }

            .lt-sc-p-info {
                .left {
                    text-align: center;

                    .lt-sc-p-price {
                        del {
                            .amount {}
                        }

                        ins {
                            .amount {}
                        }
                    }
                }

                .right {
                    .add-to-cart-btn {
                        .small.quick-view {
                            width: 100%;
                            display: none;
                        }

                        .add_to_cart_text {}

                        .added_to_cart {}

                        .add_to_cart_button {
                            &.added {
                                .cart-icon-handle {}
                            }
                        }
                    }
                }
            }
        }

        &.lt-sc-pdeal-full {
            .lt-sc-block-content {
                position: relative;
                left: 0 !important;
                width: 100%;
                text-align: left;

                &.for-small-padding-10 {
                    padding: 10px !important;
                }

                .lt-sc-info {
                    .lt-sc-p-price {
                        del {
                            .amount {}
                        }

                        ins {
                            .amount {}
                        }
                    }
                }

                .lt-sc-pdeal-countdown {
                    .countdown {
                        .countdown-row {
                            .countdown-section {}
                        }
                    }
                }

                &.right {
                    text-align: right;

                    .lt-sc-info {
                        margin-right: 10%;

                        .lt-sc-p-price {
                            ins {}
                        }
                    }

                    .lt-sc-pdeal-countdown {
                        float: right;
                        margin-right: 8%;
                    }
                }

                &.left {
                    .lt-sc-info {
                        margin-left: 10%;

                        .lt-sc-p-price {
                            ins {}
                        }
                    }

                    .lt-sc-pdeal-countdown {
                        float: left;
                        margin-left: 8%;
                    }
                }
            }

            .countdown {
                .countdown-row {
                    .countdown-section {
                        margin-left: 10px;
                    }
                }
            }
        }

        .countdown {
            .countdown-row {
                .countdown-section {
                    .countdown-amount {}

                    .countdown-period {}
                }
            }
        }
    }

    .lt-sc-product-deals-grid {
        .inner-content {
            .product-item {
                margin-bottom: 10px;

                .inner-wrap {
                    border: 1px solid #ddd;

                    .lt-slider {
                        &.lt-thumbs-slide {
                            box-shadow: none;
                            border: none;

                            .content-img {
                                padding: 50px 20px 20px 20px;
                            }
                        }
                    }
                }

                .info {
                    .info_main {
                        padding-top: 5px;

                        .name {
                            line-height: 120%;
                            margin-bottom: 5px;

                            a {
                                font-size: 110%;
                            }
                        }
                    }
                }
            }
        }
    }

    .product-item {
        .lt-thumbs-slide {
            &.owl-carousel {
                .owl-nav {
                    display: block;
                    visibility: visible;

                    div {
                        border: none;
                        background: none;
                        color: #ddd;
                    }
                }

                &:hover {
                    .owl-nav {
                        .owl-prev {
                            left: -10px;
                        }

                        .owl-next {
                            right: -10px;
                        }
                    }
                }
            }
        }

        .inner-wrap {
            border: 1px solid #ddd;

            .lt-slider {
                &.lt-thumbs-slide {
                    box-shadow: none;
                    border: none;

                    .content-img {
                        padding: 50px 20px 20px 20px;
                    }
                }
            }

            &.product-deals {
                .lt-slider {
                    &.lt-thumbs-slide {
                        box-shadow: none;

                        .content-img {
                            padding: 50px 20px 20px 20px;
                        }
                    }
                }

                .product-img {
                    .product-summary {
                        display: none;
                    }
                }

                .info {
                    .lt-sc-pdeal-countdown {
                        position: relative;
                        height: 65px;
                        margin: 20px 0;
                    }

                    .lt-deal-showmore {
                        padding: 0 20px;
                        margin-bottom: 5px;
                    }

                    .product-summary {
                        position: relative;
                        box-shadow: none;
                        visibility: visible;
                        display: block;
                        height: 50px;
                        border: none;
                        width: 100%;

                        .lt-separator-product-group-btn {
                            display: none;
                        }

                        .product-interactions {
                            .add-to-cart-btn,
                            .add-to-link {
                                display: none;
                            }

                            .btn-wishlist {
                                position: absolute;
                                width: 50%;
                                height: 100%;
                                left: 0;
                                top: 0;

                                .wishlist-icon {
                                    background: none;
                                    position: absolute;
                                    top: 15px;
                                    left: 20px;
                                    opacity: 1;
                                    visibility: visible;

                                    //@include single-transition(all, 200ms);
                                    .pe-icon {
                                        font-size: 120%;
                                        font-weight: bold;
                                        padding: 5px;
                                        cursor: pointer;
                                    }

                                    .lt-icon-text {
                                        display: inline-block;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .lt-seperator {
                                display: block;
                                position: absolute;
                                left: 50%;
                                top: 48%;
                                border-left: 1px solid #ccc;
                                padding: 7px 0;
                            }

                            .btn-compare {
                                position: absolute;
                                width: 50%;
                                height: 100%;
                                right: 0;
                                top: 0;

                                .compare-icon {
                                    background: none;
                                    position: absolute;
                                    top: 15px;
                                    right: 20px;
                                    opacity: 1;
                                    visibility: visible;

                                    //@include single-transition(all, 200ms);
                                    .pe-icon {
                                        font-size: 120%;
                                        font-weight: bold;
                                        padding: 5px;
                                        cursor: pointer;
                                    }

                                    .lt-icon-text {
                                        display: inline-block;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .quick-view {
                                display: none;
                                position: absolute;
                                right: 20px;
                                top: -35px;
                                z-index: 12;
                                cursor: pointer;
                                visibility: visible;

                                @include single-transition(all, 350ms);

                                .pe-icon {
                                    display: none;
                                }

                                .btn-link:hover {
                                    background: none;
                                }

                                .lt-icon-text {
                                    height: 22px;
                                    width: 30px;
                                    line-height: 155%;
                                    text-align: center;
                                    display: block;
                                    background: $primary-color;

                                    @include radius(45%);

                                    color: #fff;

                                    @include single-transition(all, 350ms);

                                    &:before {
                                        content: '';
                                        font-size: 100%;
                                        color: $primary-color;
                                    }

                                    &:hover {
                                        background: #F9B418;
                                        color: #000000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .info {
            position: relative;
            width: 100%;
            bottom: 0;
            height: 100%;

            .info_main {
                margin: 0 20px 20px 20px;
                line-height: 120%;
                font-size: 160%;
            }
        }
    }

    .columns.lt-column-custom-4 {
        width: 100%;
        margin-bottom: 30px;
    }

    .columns.lt-column-custom-2 {
        width: 50%;

        .product-item {
            .inner-wrap {
                .info {
                    .product-summary {
                        display: none;

                        .price {
                            font-size: 100%;
                        }
                    }
                }

                .price {
                    font-size: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    ul.products {
        li.product-item {
            width: 100%;
        }
    }

    .columns.lt-column-custom-2 {
        width: 100%;
    }

    .columns.lt-column-custom-4 {
        .lt-sc-pdeal {
            &.lt-sc-pdeal-block {
                div.small-6 {
                    width: 100%;
                }

                .lt-sc-p-img {
                    padding: 10px;
                }
            }
        }
    }

    .product-info {
        .cart {
            .lt-single-form-text {
                display: none;
            }
        }
    }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .group-slider .small-block-grid-2 > li {
        width: 40%;
    }

    #top-bar .left-text {
        float: left;
        text-align: left;
        font-size: 60%;
        width: auto;
    }

    .mini-cart .cart-inner {
        position: relative;
    }

    .config {
        display: none;
    }
}

/* IPAD */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .config {
        display: none;
    }

    .group-slider .small-block-grid-2 > li {
        width: 30%;
    }

    .group-slider .sliderControlls {
        display: none;
    }

    .search-wrapper form#yith-ajaxsearchform input {
        width: auto;
    }

    .service-block .box .title .text {
        top: 18px;
    }

    .banner .banner-content .banner-inner {
        padding: 0px !important;
    }

    .border_inner {
        border: none;
    }

    .rev_slider_wrapper {
        margin-bottom: 0px !important;
    }

    .group-blogs .blog_info {
        font-size: 85%;
        margin-bottom: 10px;
    }

    .mini-cart.active .nav-dropdown {
        display: none !important;
    }

    #lt-footer {
        .absolute-footer {
            .menu {}
        }
    }

    .product-info {
        .quantity {
            margin-bottom: 10px;
        }
    }
}

/* Custom @media only screen and (max-width: 450px) */
@media only screen and (max-width: 450px) {
    .lt-sc-pdeal.lt-sc-pdeal-full {
        .lt-sc-p-info {
            .lt-sc-block-content {
                margin: 0;
                padding: 10px !important;
            }
        }

        .lt-sc-p-thumbs .lt-thumb-a .lt-pos-relative .lt-icon-current .pe-7s-angle-left {
            margin-top: 10px;
        }
    }
}