/* TOP BAR */
.mobile-menu {
    display: none;
}

#top-bar,
.setting-switcher {
    ul {
        line-height: 2;
        margin: 0;

        li {
            list-style: none;
            display: inline-block;
        }
    }
}

#top-bar {
    z-index: 11;
    position: relative;
    border-bottom: 1px solid #efefef;
    padding: 5px 0px;
    background: #222;
    color: #FFF;

    .right-text,
    .left-text {
        font-weight: 600;
        line-height: 2;
    }
}

/* END TOP BAR */

#under-top-bar {
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 3px 1px #ddd;
    background: #FFF;

    .lt_search_full {
        width: 100%;

        > .icon {
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            color: #333;
            font-weight: bold;
            font-size: 160%;

            //background: $primary-color;
            padding: 15px;

            //border-top-right-radius: $global-radius;
            //border-bottom-right-radius: $global-radius;
            cursor: pointer;
        }

        .lt-show-search-form {
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;

            .search-wrapper form {
                input[name="s"],
                .tt-hint {
                    padding: 10px 18px 10px 15px !important;
                    border: 1px solid #ddd;
                    border-radius: 0;
                    border-top: none;
                    border-bottom: none;
                    font-size: 160%;
                    height: 50px;
                }

                input[name="s"] {}
            }
        }
    }

    .header-icons {
        list-style: none;
        margin: 0;
        float: right;

        li {
            display: block;
            border-right: 1px solid #ddd;
            float: left;
            line-height: 385%;
            padding: 0 22px;
            position: relative;

            &.first {
                border-left: 1px solid #ddd;
            }

            .pe7-icon {
                font-size: 160%;
                font-weight: bold;
                position: relative;
                top: 5px;
            }

            .products-number,
            .wishlist-number,
            .compare-number {
                font-size: 85%;

                .lt-sl {
                    position: absolute;
                    background: $primary-color;
                    color: #fff;
                    text-align: center;
                    top: 15%;
                    line-height: 100%;
                    padding: 3px 5px;

                    @include radius(99px);

                    right: 20%;
                }
            }

            .mini-cart {
                top: 3px;

                .products-number,
                .wishlist-number,
                .compare-number {
                    top: 10%;
                    left: 35%;
                }

                &.mini-cart-type-full {
                    .cart-link .cart-count {
                        font-size: 120%;
                        color: #333;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

//Topbar container
.topbar-menu-container {
    float: left;

    ul {
        li {
            span {
                margin-right: 6px;
                vertical-align: middle;
            }

            &:after {
                content: "|";
                padding: 0px 8px;
                height: 3px;
                color: #FFF;
            }

            &:hover {
                color: $primary-color;
            }

            a {
                color: #FFF;

                @include single-transition(all, 350ms);

                &:hover {}
            }

            ul {
                display: none;
            }
        }
    }
}

//Header account
.header-account {
    display: inline-block;

    ul {
        li {
            &:last-child {
                border-right: none;

                &:after {
                    display: none;
                }
            }

            span {
                margin-right: 6px;
                vertical-align: middle;
            }

            &:after {
                content: "|";
                padding: 0px 8px;
                height: 3px;
                color: #DDD;
            }

            &:hover {
                color: $primary-color;
            }

            a {
                color: #FFF;

                @include single-transition(all, 350ms);

                &:hover {}
            }
        }
    }
}

//Setting Switcher
.setting-switcher {
    font-size: $font-size;
    text-align: left;
    position: relative;

    > li {
        display: inline-block;
        border-right: 1px solid #e3e3e3;
        padding-right: 15px;
        margin-right: 15px;

        &:last-child {
            border-right: 0;
            margin-right: 0;
        }
    }

    .setting-dropdown {
        li {
            margin-right: 10px;
        }

        .label-title {
            text-transform: uppercase;
            border-top: 1px solid #efefef;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 110%;
            font-weight: 600;
        }

        .language-switcher {
            .current-lang {
                border: 1px solid #efefef;
            }

            img {
                @include single-transition(all, 350ms);

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .account-link {
            li {
                display: block;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            //Icon
            span {
                margin-right: 10px;
                font-size: 130%;
                vertical-align: middle;
            }
        }

        .nav-dropdown {
            div:first-child {
                .label-title {
                    border-top: none;
                    margin-top: 0;
                    padding-top: 0;
                }
            }
        }
    }
}

//Search
.search-dropdown,
.lt-search-space {
    position: relative;
    min-width: 25px;

    .search-icon {
        margin-bottom: 3px;
        display: block;
        position: relative;
        cursor: pointer;

        @include radius(4px);

        .circle {
            position: relative;
            display: block;
            height: 14px;
            width: 14px;
            background-color: white;

            @include radius(70px);

            z-index: 0;
            border: 1px solid #4d4d4d;

            @include single-transition(all, 350ms);

            z-index: 1;
        }

        .handle {
            position: absolute;
            background-color: #4d4d4d;
            top: 10px;
            left: 0px;
            width: 20px;
            height: 1px;
            display: block;
            transform: rotate(45deg);
            float: right;

            @include radius(2px);

            &:after {
                content: "";
                background-color: #4d4d4d;
                width: 20px;
                height: 1px;
                display: block;
                float: right;

                @include radius(1px);

                @include single-transition(all, 350ms);

                z-index: -1;
            }
        }

        &.open {
            .circle {
                transform: scale(0.02);
                transform-origin: 30% 40%;
                background: white;
                border-color: white;
            }

            .handle:after {
                transform-origin: center center;
                transform: rotate(90deg);
            }
        }
    }

    .pe-7s-close {
        @include single-transition(all, 350ms);
    }

    &.black_bg {
        .icon {
            background: #000;
            color: #fff;
        }
    }

    &.black_bg {
        height: 100%;

        .lt-ajaxsearchform-container .icon {
            display: none;
        }
    }

    .lt-show-search-form {
        position: absolute;
        top: -8px;
        right: 100%;
        width: 0px;
        z-index: 2;

        .search-wrapper {
            form {
                margin-bottom: 0px;

                input[name="s"] {
                    margin: 0px;
                    border: none;
                    padding: 0px !important;
                    border-bottom: 1px solid #eee;
                    font-size: 100%;

                    &:focus {
                        background: none;
                    }
                }

                input.tt-hint {
                    padding: 0px;
                }
            }
        }
    }

    .twitter-typeahead,
    input.live-search-input {
        width: 100%;
    }

    .tt-dropdown-menu {
        width: 100%;
        background: #FFF;
        padding: 10px;
        border: 1px solid #ddd;
        border-top: none;
        left: 0;
        -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

        .item-search {
            max-height: 70px;
            position: relative;
            overflow: hidden;

            a {
                display: block;
                width: 100%;
                padding: 5px 0;
                overflow: hidden;

                &:hover {
                    background: #f9f9f9;
                }

                p {
                    font-size: 100%;
                }

                img {
                    float: left;
                    margin-right: 10px;
                }

                .lt-item-title-search {
                    text-align: left;
                    margin-top: 0px;
                }

                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .please-wait {
        position: absolute;
        left: 40% !important;
        top: 40% !important;
    }

    .nav-dropdown {
        width: 300px;
        right: 0px;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;

        .wide-nav-search {
            .search-wrapper {
                form {
                    margin-bottom: 0px;

                    input {
                        margin: 0px;
                        padding-left: 15px;
                        border: 1px solid #ddd;
                        font-size: 100%;

                        &:focus {
                            background: none;
                        }
                    }
                }
            }

            .twitter-typeahead,
            input.live-search-input {
                width: 100%;
            }

            .tt-dropdown-menu {
                width: 100%;
                background: #FFF;
                padding: 10px;
                border: 1px solid #ddd;
                border-top: none;
                left: 0;
                -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

                .item-search {
                    max-height: 70px;
                    overflow: hidden;

                    a {
                        display: block;
                        width: 100%;
                        padding: 5px 0;
                        overflow: hidden;

                        &:hover {
                            background: #f9f9f9;
                        }

                        p {
                            font-size: 100%;
                        }

                        .lt-item-title-search,
                        img {
                            float: left;
                        }

                        .lt-item-title-search {
                            margin-left: 12px;
                        }

                        img {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            }

            .please-wait {
                position: absolute;
                left: 40% !important;
                top: 40% !important;
            }
        }
    }
}

//End Search dropdown

.setting-dropdown {
    .nav-dropdown {
        top: 60px !important;
        right: 0px;
        width: 200px;
        padding: 25px;
    }

    &.active {
        .nav-dropdown {
            top: 50px !important;
        }
    }
}

/* -- MIDDLE HEADER -- */
.header-wrapper {
    position: relative;
    z-index: 99;
}

#masthead {
    background-color: transparent;
    top: -200px;

    @include single-transition(top, 600ms, ease);

    background-position: bottom center;
    background-repeat: repeat-x;
    padding: 25px 0px;

    .header-container {
        display: table;

        //Logo
        .logo-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 200px;

            .logo {
                height: 100%;
                vertical-align: middle;

                a {
                    display: block;
                    margin: 0;
                    font-size: 200%;
                    font-weight: bold;
                    width: 100%;
                    color: $primary-color;

                    img {
                        max-height: 95px;
                        height: auto;
                        width: auto;
                    }
                }
            }
        }

        //Main menu general
        .wide-nav {
            display: table-cell;
            vertical-align: middle;

            li {
                list-style: none;
            }
        }
    }
}

/* FIXED HEADER */
.fixed-header-area {
    position: fixed;
    top: -129px;
    left: 0;
    width: 100%;
    z-index: 400;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    @include single-transition(all, 350ms);

    min-height: 76px;
    -webkit-box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);

    &.fixed-already {
        top: 0;
    }

    .header-container {
        display: table;

        > div {
            display: table-cell;
            vertical-align: middle;
        }

        .logo-wrapper {
            padding: 20px;
        }
    }

    .nav-wrapper {
        .header-nav {
            li.root-item {
                > a {
                    i {
                        display: none;
                    }
                }
            }
        }
    }
}

/* END FIXED HEADER */

/* TRANSPARENT HEADER */
.header-transparent {
    #masthead {
        background: transparent;

        .root-item {}

        .cart-wishlist {
            span {}
        }

        .logo-wrapper {
            z-index: 2;
        }
    }

    .lt-ajaxsearchform {
        input {
            background: transparent;
        }
    }
}

/* END TRANSPARENT HEADER */

.header-type-1 {
    /*.header-search{
        display: table-cell;
        vertical-align: middle;
    }*/
    .nav-wrapper {
        &.main-menu-type-2 {
            .header-nav {
                li.root-item {
                    > a {
                        padding-left: 40px;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.header-type-2 {
    #masthead {
        padding-bottom: 0;
    }

    .header-container {}

    .header-utilities {
        display: table-cell;
        vertical-align: middle;
        text-align: right;

        .section-element {
            .lt-col {
                min-height: 1px;

                &:after {
                    width: 1px;
                    position: absolute;
                    right: -5px;
                    top: 10px;
                    background: #ddd;
                    height: 60%;
                    content: "";
                }

                &.service-border-none {
                    &:after {
                        width: 0;
                    }
                }
            }
        }
    }

    .lt-hotline-email {
        display: table-cell;
        vertical-align: middle;
        position: absolute;
        left: 15%;
        line-height: 140%;
        font-size: 120%;

        .inline-block {
            margin: 0 15px;
        }

        .lt-hotline-email-icon {
            font-size: 130%;
            font-weight: bold;
            color: $primary-color;
            position: relative;
            top: 4px;
            margin-right: 7px;
        }
    }

    .header-search {}

    .lt-bg-dark {
        width: 100%;
        background: $secondary-color;

        .row {
            position: relative;

            .large-7.columns {
                position: static;
            }
        }

        .nav-wrapper {
            .header-nav {
                .root-item {
                    > a {
                        color: #333;
                        padding: 12px 15px;
                        margin: 0px;

                        .fa,
                        .pe7-icon {
                            display: none;
                            font-size: 120%;
                            margin-right: 8px;
                        }
                    }

                    .nav-dropdown {
                        top: 50px;
                        left: 0px;
                    }

                    &:hover {
                        .nav-dropdown {
                            top: 40px;
                        }

                        > a {
                            color: #333;
                        }
                    }

                    &.lt-megamenu {
                        .nav-dropdown {
                            top: 44px;
                        }

                        > .nav-dropdown {
                            left: 0;
                        }

                        &:hover {
                            .nav-dropdown {
                                top: 37px;
                            }
                        }
                    }
                }
            }
        }

        .lt-vertical-header {
            h5.section-title {
                margin-bottom: 0;
                padding: 10px 20px;
                background: #333;
                border: none;

                span,
                &:before {
                    color: #FFF;
                }
            }

            .vertical-menu-container {
                position: absolute;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                top: 125%;
                border: 1px solid #ddd;
                border-top: none;

                @include single-transition(all, 350ms);

                &.lt-allways-show {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }

                .vertical-menu-wrapper {
                    margin-top: 0;
                    margin-bottom: 0;
                    border: none;
                    padding: 5px 0 0 0;

                    li.root-item {
                        padding: 0 20px;
                        position: relative !important;

                        @include single-transition(all, 150ms);

                        list-style: none;
                        cursor: pointer;

                        > a {
                            display: block;
                            padding: 14px 0;
                            border-bottom: 1px solid #ddd;
                            text-transform: none;

                            @include single-transition(all, 100ms);
                        }

                        &:hover {
                            background: transparent;

                            > a {
                                color: $primary-color;

                                > i {
                                    color: $primary-color;
                                }
                            }
                        }

                        &:last-child {
                            > a {
                                border-bottom: none;
                            }
                        }

                        &.root-item.menu-item-has-children {
                            &:after {
                                display: none;
                            }

                            > a:after {
                                position: absolute;
                                top: 13px;
                                right: 25px;
                                content: "\f105";
                                font-family: "FontAwesome";
                                font-size: 100%;
                                color: #c5c5c5;
                                right: 20px;
                            }
                        }

                        .nav-dropdown {
                            top: -18px;
                            left: 92.6666%;
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            border: none;
                            display: none;

                            .div-sub {
                                box-shadow: none;
                                -webkit-box-shadow: none;
                                -moz-box-shadow: none;

                                ul {
                                    box-shadow: none;
                                    -webkit-box-shadow: none;
                                    -moz-box-shadow: none;

                                    &.sub-menu {
                                        li {
                                            list-style: none;

                                            &.megatop {
                                                margin-bottom: 20px;

                                                &.image-mega-menu {
                                                    padding: 0 20px 0 0 !important;
                                                    margin: 0 !important;
                                                }
                                            }

                                            .nav-column-links {
                                                .sub-menu {
                                                    margin-left: 0;
                                                }
                                            }

                                            &.has_widget_item {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.lt-megamenu {
                            position: static !important;

                            &.menu-item-has-children {
                                > a:after {
                                    display: block;
                                    position: relative;
                                    text-align: right;
                                    float: right;
                                    top: 1px;
                                    right: 0;
                                }
                            }

                            .nav-dropdown {
                                top: 0px;
                                padding: 0 10px;

                                > .div-sub {
                                    border: 1px solid #ececec;

                                    > ul > li.menu-item.megatop {
                                        //padding: 0 20px 0 15px;
                                        height: 100%;

                                        > a {
                                            padding: 20px 0 5px 15px;

                                            img {
                                                padding-top: 0px;
                                                padding-right: 25px;
                                            }
                                        }
                                    }
                                }
                            }

                            &:hover {
                                &.menu-item-has-children {
                                    > a:after {
                                        font-weight: bold;
                                        color: #333;
                                    }
                                }

                                .nav-dropdown {
                                    visibility: visible;
                                    display: block;
                                }
                            }

                            &.cols-2 {
                                > .nav-dropdown {
                                    width: 600px;
                                }
                            }

                            &.cols-3 {
                                > .nav-dropdown {
                                    width: 700px;
                                }
                            }

                            &.cols-4 {
                                > .nav-dropdown {
                                    width: 800px;
                                }
                            }

                            &.cols-5 {
                                > .nav-dropdown {
                                    width: 940px;
                                }
                            }

                            &.fullwidth {
                                &.cols-2,
                                &.cols-3,
                                &.cols-4,
                                &.cols-5 {
                                    > .nav-dropdown {
                                        width: 940px;
                                    }
                                }
                            }
                        }

                        &.default-menu {
                            > .nav-dropdown {
                                top: -10px;
                                opacity: 1;
                            }

                            &:hover {
                                &.menu-item-has-children {
                                    > a:after {
                                        font-weight: bold;
                                        color: #333;
                                    }
                                }

                                .nav-dropdown {
                                    display: block;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                .vertical-menu-container {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }
        }

        .lt-share-column {
            .lt-share {
                text-align: right;

                li {
                    margin: 0;
                    top: 10px;

                    a {
                        span {
                            border: none;
                            color: #FFF;
                            padding: 6px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    #megaMenuToggle {
        display: none;
    }

    #megaMenu.megaResponsiveToggle ul.megaMenu {
        display: block;
    }
}

.content-type-4 {
    @include single-transition(all, 350ms);
}

//Fix for boxed layout
.boxed .wrapper-type-4.fold-active .content-type-4 {
    padding-left: 0px;
}

.wrapper-type-4.fold-active {
    .header-type-4 {
        left: 0;
    }

    .content-type-4, #lt-footer {
        padding-left: 260px;
    }
}

body {
    overflow-x: hidden;
}

/* END HEADER TYPES */

.boxed #header-outer-wrap, .boxed .wide-nav {
    max-width: $box-width;
    width: 100%;
    left: auto;
    right: auto;
}

.boxed #header-outer-wrap.stuck,
.boxed .wide-nav.stuck {
    left: auto;
    right: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari and Chrome, if Chrome rule needed */
    .search-wrapper {
        color: #c00;
    }

    /* Safari 5+ ONLY */
    ::i-block-chrome,
    .someClass {
        color: #000;
    }
}