.service-block {
    position: relative;
    cursor: pointer;

    .box {
        background: #ffffff;
        padding: 10px 20px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;

        @include single-transition(all, 350ms);

        .service-icon {
            font-size: 190%;
            color: #888;

            @include single-transition(all, 350ms);
        }

        .service-text {
            overflow: hidden;

            .service-title {
                text-transform: capitalize;
                font-size: 115%;
                line-height: 150%;
            }

            .service-desc {
                font-size: 110%;
                color: #777;
            }
        }

        &:hover .fly_effect {
            -webkit-transform: translate(30px, -80px);
            -ms-transform: translate(30px, -80px);
            -o-transform: translate(30px, -80px);
            transform: translate(30px, -80px);
            -webkit-transition: all 1.3s cubic-bezier(1, -0.53, 0.405, 1.425) 0.1s;
            transition: all 1.3s cubic-bezier(1, -0.53, 0.405, 1.425) 0.1s;
            cursor: pointer;
        }

        &:hover .zoom_effect {
            -webkit-transform: scale(1.03);
            -moz-transform: scale(1.03);
            -o-transform: scale(1.03);
            transform: scale(1.03);
        }

        &:hover .buzz_effect {
            -webkit-animation-name: hvr-buzz-out;
            animation-name: hvr-buzz-out;
            -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }

        &:hover .rotate_effect {
            @include rotate(90deg);
        }
    }

    &.style-1 {
        /*&:hover{
            .box{
                background: $primary-color;
                color: #fff;
                border-color: $primary-color;
                .service-icon{
                    color: #fff;
                    &:before{
                        color: #fff;
                    }
                }
            }
        }*/
    }

    &.style-2 {
        text-align: center;

        .box {
            padding: 25px 45px;
            background: #f6f6f6;
            border: none;

            .service-icon {
                float: none;
                margin-right: 0;
                font-size: 250%;
                color: $primary-color;
            }

            .service-text {
                .service-title {
                    font-size: 150%;
                    line-height: 30px;
                    margin-top: 5px;
                }

                .service-desc {
                    line-height: 22px;
                }
            }
        }
    }

    &.style-3 {
        text-align: center;

        .box {
            padding: 10px;
            border: none;

            .service-icon {
                float: none;
                margin-right: 0;
                font-size: 190%;
                color: #333;
            }

            .service-text {
                color: #333;

                .service-title {
                    font-size: 120%;
                    line-height: 30px;
                    margin-top: 5px;
                }

                .service-desc {
                    line-height: 22px;
                }
            }
        }
    }
}

.footer-type-default {
    padding: 30px;
    background: #f9f9f9;
    text-align: center;
    font-weight: bold;
}

#lt-footer {
    margin-top: 60px;
    padding-top: 50px;
    background: #f4f4f4;

    @include single-transition(all, 350ms);

    .footer {
        padding: 60px 0px 30px 0px;
        background: #f8f8f8;
        border-top: 1px solid #ececec;
    }

    .footer .widget-title {
        color: $body-color-bold;
    }

    .footer .bery-hr, .top-footer .bery-hr {
        display: block;
        height: 2px;
    }

    .lt-contact-footer-custom {
        h5 {
            font-size: 150%;
            color: $primary-color;

            i {
                color: $primary-color;
            }
        }
    }

    input[type="email"] {
        height: 3.189999em;
    }

    .lt-footer-bottom {
        background: #fff;
        padding: 20px 0;

        .widget_nav_menu {
            margin-bottom: 0;
        }

        .lt-menu-bottom-right ul li {
            display: inline-block;
            position: relative;
            margin-right: 15px;

            &:after {
                position: absolute;
                display: block;
                content: "|";
                right: -10px;

                @include vertical-align;
            }

            &:last-child {
                margin-right: 0;
            }

            &:last-child:after {
                content: "";
            }
        }
    }

    .footer {
        h4,
        .vc_single_image-img {
            margin-bottom: 30px;
        }

        &.footer-dark {
            background: #2f2f2f;
            color: #ddd;

            a,
            h2,
            h3,
            h4 {
                color: #ddd;
            }

            input {
                background: #363636;
                border: none !important;
                color: #ccc;

                &.button {
                    background-color: #4f4f4f !important;
                    background-image: url("css/images/newsletter_bg.png");
                    background-repeat: no-repeat;
                    background-position: center center;
                    color: #fff;

                    &:hover {
                        background-color: $primary-color !important;
                    }
                }
            }

            .contact-icon {
                i {
                    color: #fff !important;
                }
            }
        }

        .widget_nav_menu {
            .menu {
                a {
                    @include single-transition(all, 350ms);

                    &:hover {
                        padding-left: 3px;
                    }
                }
            }
        }
    }

    span.lt-separator {
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px solid #ddd;
        margin: 40px 0;
    }

    span.lt-separator-right {
        display: block;
        position: absolute;
        height: 120px;
        width: 1px;
        float: right;
        border-left: 1px solid #ddd;
        top: 50%;
        right: 0;

        @include vertical-align;
    }

    /* =======================================================================*/
    .lt-opening-time {
        margin: 10px 0 15px 0;
    }

    .widget_tag_cloud {
        .lt-tag-cloud,
        .lt-tag-products-cloud {
            margin-top: 10px;
            margin-bottom: 30px;

            a {
                padding: 5px 10px 5px 0px;
                margin: 0px 5px 8px 0;
                display: inline-block;
                position: relative;
                background: none;
                border-radius: 0;

                &:hover,
                &.lt-active {
                    color: $primary-color;
                    text-decoration: underline;
                }

                &:after {
                    color: #333333;
                    display: block;
                    content: "|";
                    right: 0;

                    // position: absolute;
                    // top: 50%;
                    @include vertical-align;
                }

                &:last-child:after {
                    content: "";
                }
            }
        }
    }

    .footer-dark {
        .widget_tag_cloud {
            a {
                background: transparent;
                border: 1px solid #999;
                color: #999;

                &.lt-active,
                &:hover {
                    background: $primary-color !important;
                    border: 1px solid $primary-color !important;
                    color: #FFF;
                }
            }
        }

        .bery-hr {
            background: #555;
        }
    }

    .footer-light {
        .lt-opening-time {
            li {
                border-color: #efefef;
            }
        }

        .widget_tag_cloud {
            a {
                background: transparent;
                border: 1px solid #999;

                &.lt-active,
                &:hover {
                    background: $primary-color !important;
                    border: 1px solid $primary-color !important;
                    color: #FFF;
                }
            }
        }
    }

    .lt-2columns {
        .vc_column-inner {
            .wpb_wrapper {
                .wpb_content_element {
                    width: 50%;
                    display: inline-block;
                }
            }
        }
    }

    .lt-row-light {
        background: transparent;
        padding: 30px 0 30px 0;

        .wpb_text_column {
            p {
                line-height: 240%;
            }
        }
    }

    .footer-before {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.absolute-footer,
.footer-type-4 {
    ul.menu {
        line-height: 0.5em;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 10px;
            padding-right: 12px;

            a {
                color: $body-font-color;
                line-height: inherit !important;

                &:hover {
                    color: $color-hover;
                }
            }
        }
    }

    p {
        line-height: 0.8em;
    }
}

.absolute-footer {
    background-color: #fff;
    border-top: 1px solid #ececec;
    font-size: 100%;
    float: none;
    padding: 35px 0px;

    .widget {
        margin-bottom: 0px;
    }

    &.dark {
        background: #090909;
        color: #888;
        border: none;

        ul {
            li {
                border-color: #888;

                a {
                    color: #888;

                    &:hover {
                        color: #b8b8b8 !important;
                    }
                }
            }
        }
    }
}

.footer .contact-logo {
    margin-bottom: 20px;
}

.contact-icon.border-circle {
    position: relative;
    border: 1px solid #ddd;

    @include radius(99px);

    width: 38px;
    height: 38px;
    margin-right: 13px;
    background: #fff;
}

.contact-icon.border-circle .fa-paper-plane,
.contact-icon.border-circle .fa-envelope {
    position: absolute;
    top: 25%;
    left: 27%;
}

.contact-icon.border-circle .fa-phone {
    position: absolute;
    top: 28%;
    left: 35%;
}

.footer-type-1 {
    background: #f8f8f8;
    border-top: 1px solid #f1f1f1;
}

.footer-type-4 {
    padding: 0px 30px;
    margin-top: -45px;

    .widget {
        &.widget_nav_menu {
            text-align: center;
        }
    }

    .social-icons {
        text-align: right;
        line-height: 0.5em;
    }
}

.footer-service-box {
    padding: 20px 0px 60px 0px;

    &:before {
        display: block;
        content: '';
        height: 1px;
        background: #ddd;
        width: 35%;
        margin: 0 auto;
        margin-bottom: 55px;
    }
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-buzz-out {
    &:hover,
    &:focus,
    &:active {
        -webkit-animation-name: hvr-buzz-out;
        animation-name: hvr-buzz-out;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
}

.lt-opening-time {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #555;
        padding: 0 0 10px 0;
        margin-bottom: 10px;

        span {
            display: inline-block;
            width: 50%;
        }

        .lt-day-open {
            text-align: left;
        }

        .lt-time-open {
            text-align: right;
            color: $primary-color;
        }
    }
}