/* Blog */
.blog {
    .left {
        padding-right: 20px;
    }

    .right {
        padding-left: 20px;
    }
}

/* Latest blog shortcode */
.group-blogs {
    .blog-grid {
        .blog-grid-item {
            margin-bottom: 60px;
        }

        &.blog-grid-style-2 {
            .lt-blog-info {
                padding: 20px 25px 25px 25px;
            }
        }
    }

    .entry-blog {
        .blog-image {
            margin-top: 0;
            position: relative;

            .blog-image-attachment {
                img {
                    width: 100%;
                }

                &:after {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    content: "";
                    -webkit-border: 0px solid rgba(255, 255, 255, 0.5);
                    -moz-border: 0px solid rgba(255, 255, 255, 0.5);
                    -ms-border: 0px solid rgba(255, 255, 255, 0.5);
                    -o-border: 0px solid rgba(255, 255, 255, 0.5);
                    border: 0px solid rgba(255, 255, 255, 0.5);
                    opacity: 0;

                    @include single-transition(all, 350ms);
                }

                &:hover::after {
                    opacity: 1;
                    -webkit-border: 15px solid rgba(255, 255, 255, 0.5);
                    -moz-border: 15px solid rgba(255, 255, 255, 0.5);
                    -ms-border: 15px solid rgba(255, 255, 255, 0.5);
                    -o-border: 15px solid rgba(255, 255, 255, 0.5);
                    border: 15px solid rgba(255, 255, 255, 0.5);
                }
            }
        }

        .seam_icon {
            &.align_right {
                right: -15px;
            }

            &.align_left {
                left: -15px;
            }
        }
    }

    .blog_info {
        .blog_title {
            margin-top: 13px;
            word-wrap: break-word;

            a {
                padding: 0;
                font-weight: normal;
                text-transform: capitalize;
            }
        }

        .post-date {
            text-transform: uppercase;
            color: #aaa;

            .post-date-day {
                font-size: 250%;
            }

            .post-date-month {
                font-size: 120%;
            }
        }

        &:hover .post-date {
            background: none;
        }

        .read_more a {
            font-size: $font-size;
            color: #aaa;

            &:hover {
                color: $primary-color;
            }

            .read-more-icon {
                margin-left: 6px;
            }
        }

        .bery-hr {
            margin-top: 10px;
            height: 1px !important;
            background: #ddd;
        }
    }

    .lt-blog-info {
        background: #ffffff;

        .blog_title {
            h2 {
                margin: 0;
            }
        }

        .lt-post-date {
            color: $primary-color;
            padding-bottom: 10px;
            display: block;
        }
    }

    .lt-blog-info-slider {
        .blog_title {
            h2 {
                margin: 0;
            }
        }

        .lt-info-short {
            line-height: 20px;
            padding-bottom: 20px;
        }

        .lt-post-date {
            color: $primary-color;
            padding-bottom: 10px;
            display: block;
        }

        .lt-read-more {
            display: inline-block;
            padding: 8px 10px;
            border: 1px solid #333;
            text-transform: uppercase;

            &:hover {
                background: $primary-color;

                a {
                    color: #ffffff;
                }
            }
        }
    }

    &.lt-blog-carousel-3 {
        //margin:20px 0;
        .blog_item {
            .lt-content-group {
                display: inline-block;
                margin: 5px 0;
                border: 1px solid #e2e2e2;
                padding: 5px;
            }

            .lt-blog-info-slider {
                padding: 15px 25px;

                .blog_title {
                    margin-bottom: 10px;

                    h2 {
                        font-size: 120%;
                    }
                }
            }

            &:hover {
                .lt-content-group {
                    @include lt-box-shadow(0px, 0px, 5px, 2px, #ddd);

                    border-color: transparent;
                }
            }
        }
    }

    .owl-nav div {
        background: #F7F7F7;
    }
}

.lt-sc-blogs-list {
    .post-date {
        border: 1px solid #ccc;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 130%;
        margin-top: 8px;
        text-align: center;

        .post-date-day {
            color: $primary-color;
            font-weight: bold;
            font-size: 140%;
            width: 100%;
            display: block;
        }

        .post-date-month {
            font-size: 115%;
            width: 100%;
            display: block;
        }
    }

    .post-content {
        .lt-info-short {
            line-height: 150%;
        }
    }

    .row.lt-sc-blogs-row {
        margin-bottom: 20px;
    }
}

/* Map shortcode */
#map_container {
    position: relative;
    margin-bottom: 30px;
}

/* Client shortcode */
.client {
    font-size: $font-size;
    text-align: left;

    .client-inner {
        text-align: center;
        padding: 60px 80px;

        img {
            margin: 0 auto;

            @include radius(500px);

            max-width: 60px;
            border: 4px solid rgba(255, 255, 255, 0.3);
        }

        .client-info {
            overflow: hidden;
            text-align: center;
            margin-top: 15px;

            .quote-left {
                margin-bottom: 30px;

                &:before {
                    content: "";
                    width: 40px;
                    height: 33px;
                    background-image: url(css/images/quote-left.png);
                    background-repeat: no-repeat;
                    position: absolute;
                }
            }

            .client-content {
                line-height: 1.5em;
                letter-spacing: 1px;
                margin-bottom: 30px;
                font-size: 115%;
                font-style: italic;
            }

            .star-rating {
                margin-top: 5px;
                margin-bottom: 14px;
                font-size: $font-size;
                margin: 0;
            }

            span {
                list-style: none;
                padding-right: 0;
                color: #fff;
                display: block;
                margin-bottom: 10px;
            }

            .client-pos {
                color: #666;
            }

            .client-name {
                margin-top: 8px;
                margin-bottom: 0;
                color: inherit;
            }

            .client-img-info {
                display: inline-block;

                .client-img {
                    display: table-cell;
                    vertical-align: middle;
                }

                .client-name-post {
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 10px;
                }
            }
        }
    }

    &.text-left,
    &.text-right,
    &.text-justify {
        .client-inner {
            padding: 0px;

            .client-info {
                margin-top: 0;

                .client-img-info {
                    display: table;

                    .client-img {
                        display: table-cell;
                        vertical-align: middle;
                    }

                    .client-name-post {
                        display: table-cell;
                        vertical-align: middle;
                        padding-left: 10px;

                        .client-name {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }

    &.text-left {
        .client-inner {
            .client-info {
                text-align: left;
            }
        }
    }

    &.text-right {
        .client-inner {
            .client-info {
                text-align: right;
            }
        }
    }

    &.text-justify {
        .client-inner {
            .client-info {
                text-align: justify;
            }
        }
    }
}

/* Team member shortcode */
.team-member {
    text-align: center;

    .member-image {
        margin-bottom: 20px;

        img {
            border-radius: 100%;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .member-details {
        h3 {
            text-transform: uppercase;
            letter-spacing: 0;
            font-size: 100%;
            font-weight: normal;
            color: $primary-color;
        }

        .member-position {
            font-size: $font-size;
            color: #666;
        }

        .social-icons {
            width: 100%;
            margin: 10px 0 !important;
        }

        .member-email {}
    }

    &.member-type-2 {
        text-align: left !important;

        .member-details {
            .menu-social-icons {
                text-align: left;
            }

            color: #767676;

            h4 {
                color: #333;
            }
        }
    }
}

/* Message box shortcode */
.message-box {
    background-repeat: repeat-x;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;

    .inner {
        padding: 15px;

        .button {
            margin: 0 15px;
        }
    }
}

/* Scroll to top button */
.scroll-to {
    height: 0;
    overflow: hidden;
}

.scroll-to-bullets {
    position: fixed;
    right: 45px;
    top: 40%;
    z-index: 99;
    text-align: right;

    a {
        display: inline-block;
        text-transform: uppercase;
        padding: 5px 8px;

        @include radius(99px);

        @include single-transition;

        &:hover {
            background: $primary-color;

            * {
                color: #fff;
            }

            strong {
                opacity: 1;
            }

            span {
                background-color: #fff;
                opacity: 0.8;
            }
        }

        * {
            display: inline-block;
        }

        strong {
            font-size: $font-size;
            opacity: 0;
            margin-right: 10px;
            position: relative;
            top: -1px;
            pointer-events: none;
        }

        span {
            background-color: #000;
            opacity: 0.2;
            width: 12px;
            height: 12px;
            padding: 5px;

            @include radius(99px);
        }

        &.active span {
            opacity: 0.7;
        }
    }
}

/* Brand shortcode */
.lt-brands {
    .brands-item {
        max-width: 170px;
        margin: 0 auto;

        img {
            opacity: 1;

            @include single-transition(all, 350ms);

            width: auto;
        }

        &:hover img {
            opacity: 0.6;
        }
    }
}

/* Product Category Slider element*/
.category-slider {
    .products-group {
        &.lt-category-horizontal-1 {
            .product-category {
                list-style: none;

                @include single-transition(all, 350ms);

                .inner-wrap {
                    position: relative;
                    padding: 0px !important;

                    .count {
                        margin-top: 15px;
                    }

                    //Hover overlay
                    &.hover-overlay:after {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.2);
                        content: "";
                        opacity: 0;
                        z-index: 2;

                        @include single-transition(all, 350ms);
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .header-title {
                    position: absolute;
                    top: 40%;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    z-index: 3;
                    color: #fff;

                    @include single-transition(all, 350ms);

                    h3 {
                        color: #fff;
                        font-size: 250%;
                        -webkit-transform: translateY(0px);
                        -ms-transform: translateY(0px);
                        transform: translateY(0px);
                        -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                    }

                    span {
                        font-size: $font-size;
                        font-weight: normal;
                        display: block;
                        text-transform: capitalize;
                        -webkit-transform: translateY(10px);
                        -ms-transform: translateY(10px);
                        transform: translateY(10px);
                        -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                        transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
                        animation-delay: 600ms;
                        -webkit-animation-delay: 600ms;
                        -moz-animation-delay: 600ms;
                    }
                }

                &:hover {
                    .header-title {
                        @include single-transition(all, 350ms);

                        opacity: 1;

                        h3 {
                            -webkit-transform: translateY(10px);
                            -ms-transform: translateY(10px);
                            transform: translateY(10px);
                        }

                        span {
                            -webkit-transform: translateY(0px);
                            -ms-transform: translateY(0px);
                            transform: translateY(0px);
                            animation-delay: 600ms;
                            -webkit-animation-delay: 600ms;
                            -moz-animation-delay: 600ms;
                        }
                    }

                    .inner-wrap.hover-overlay:after {
                        opacity: 1;
                    }
                }
            }
        }

        &.lt-category-horizontal-2 {
            .product-category {
                position: relative;

                .hover-overlay {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    @include single-transition(all, 350ms);
                }

                .header-title {
                    position: absolute;
                    top: 30px;
                    left: 5px;
                    width: auto;
                    text-align: center;
                    opacity: 1;
                    z-index: 3;
                    color: #fff;

                    h3 {
                        color: #333;
                        background: #FFF;
                        font-size: 130%;
                        padding: 5px 15px;

                        @include single-transition(all, 350ms);
                    }

                    .count {
                        display: none;
                    }
                }

                &:hover {
                    .header-title {
                        top: 30px;

                        h3:hover {
                            color: #fff;
                            background: $primary-color;
                            padding: 5px 30px 5px 15px;
                        }
                    }

                    .hover-overlay {
                        opacity: 0.3;
                        background: #333;
                    }
                }
            }
        }
    }
}

.lt-category-slider-vertical {
    .product-category {
        margin-top: 5px;
        margin-bottom: 15px;

        .inner-wrap {
            position: relative;

            .header-title {
                position: absolute;
                top: 15px;
                right: 2px;

                h3 {
                    background: #FFF;
                    font-size: 110%;
                    padding: 5px 10px;

                    @include single-transition(all, 350ms);
                }

                .count {
                    display: none;
                }
            }
        }

        &:hover {
            .inner-wrap {
                .header-title {
                    h3:hover {
                        background: $primary-color;
                        color: #FFF;
                        padding: 5px 10px 5px 20px;
                    }
                }
            }
        }
    }
}

/* End Product Category Slider Element */

/* Shortcode product deal */
.lt-sc-pdeal {
    position: relative;

    &.lt-sc-pdeal-block {
        margin: 10px 15px 0 0;
        background: #fff;

        .lt-sc-p-img {
            position: relative;
            padding: 0;

            .lt-sc-pdeal-countdown {
                position: absolute;
                z-index: 10;
                width: 55px;
                top: 35px;
                left: 30px;

                .countdown {
                    .countdown-row {
                        padding: 0;

                        .countdown-section {
                            width: 100%;
                            margin: 0 0 10px 0;
                            padding: 0;
                        }
                    }
                }
            }

            .product-images-slider {
                .owl-height {
                    height: auto !important;
                }
            }

            .lt-sc-p-thumbs {
                position: absolute;
                z-index: 10;
                bottom: 10px;
                left: 30px;
            }
        }

        .lt-sc-p-thumbs {
            margin: 10px auto;
            width: 285px;
            max-width: 80%;

            .owl-item {
                &.active-thumbnail {
                    img {
                        border: 1px solid #ccc;
                        opacity: 1;
                    }
                }

                a {
                    &.active-thumbnail {
                        img {
                            border: 1px solid #ccc;
                            opacity: 1;
                        }
                    }

                    display: block;
                    padding: 7px;
                    text-align: center;

                    img {
                        height: 75px;
                        width: auto;
                        margin: 0 auto;
                        border: 1px solid transparent;
                        opacity: 0.3;
                    }
                }
            }
        }

        .lt-sc-p-info {
            padding: 15px 10px 16px 10px;

            .columns {
                padding: 0;
            }

            &.has_absolute_thumbs {
                padding: 20px 10px 20px 10px;
            }

            .left {
                .lt-sc-p-price {
                    font-size: 120%;
                    font-weight: bold;
                    max-height: 58px;

                    del {
                        .amount {
                            font-weight: bold;
                            color: #dcdcdc;
                        }
                    }

                    ins {
                        .amount {
                            color: $primary-color;
                        }
                    }
                }
            }

            .right {
                padding-top: 10px;

                .add-to-cart-btn {
                    .add_to_cart_text {
                        font-weight: normal;
                    }

                    .added_to_cart {
                        display: none;
                    }

                    .add_to_cart_button {
                        display: block;

                        &.added {
                            .cart-icon-handle {
                                display: block;
                                content: "\f00c";
                                font-family: "FontAwesome";
                            }
                        }
                    }

                    .ajax_add_to_cart_variable,
                    .ajax_add_to_cart,
                    .button {
                        float: right;
                    }
                }
            }
        }
    }

    // Layout Full
    &.lt-sc-pdeal-full {
        .lt-sc-block-content {
            .lt-sc-info {
                h3 {
                    font-size: 250%;
                    margin-bottom: 15px;
                }

                h5 {
                    margin-bottom: 20px;
                    font-weight: normal;
                    line-height: 1;
                    margin: 0;
                    padding-left: 2px;

                    .lt-text {
                        color: #888;
                    }
                }

                .lt-sc-p-price {
                    font-weight: bold;
                    margin-bottom: 15px;

                    del {
                        font-size: 140%;
                        margin-left: 15px;
                        line-height: 165%;

                        .amount {
                            font-weight: normal;
                            color: #aaa;
                        }
                    }

                    ins {
                        font-size: 200%;
                        float: left;

                        .amount {
                            color: $primary-color;
                        }
                    }
                }
            }

            .lt-sc-desc {
                clear: both;
                margin-top: 20px;
            }

            .lt-sc-pdeal-countdown {
                width: 100%;
                height: 70px;

                .countdown {
                    .countdown-row {
                        position: relative;
                        top: 0;
                        left: 0;

                        .countdown-section {
                            width: 50px;
                            margin: 8px;
                            padding: 0;
                            border: none;

                            @include lt-border(all, 2px solid #888888);

                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .product-summary {
                position: relative;
                background: transparent;
                margin-top: -1px;
                border-top: none;
                height: 40px;
                width: 100%;
                display: block;

                .lt-separator-product-group-btn {
                    margin: 0 20px;
                }

                .product-interactions {
                    .add-to-cart-btn,
                    .add-to-link {
                        display: none;
                    }

                    .btn-wishlist {
                        position: absolute;
                        width: 120px;
                        height: 100%;
                        left: -5px;
                        top: 0;

                        .wishlist-icon {
                            background: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 1;

                            //visibility: hidden;
                            //@include single-transition(all, 200ms);
                            .pe-icon {
                                font-size: 120%;
                                font-weight: bold;
                                padding: 5px 3px 5px 5px;
                                cursor: pointer;
                            }

                            .lt-icon-text {
                                display: inline-block;
                                cursor: pointer;
                            }
                        }
                    }

                    .lt-seperator {
                        display: block;
                        position: absolute;
                        left: 90px;
                        top: 7px;
                        border-left: 1px solid #ccc;
                        padding: 7px 0;
                    }

                    .btn-compare {
                        position: absolute;
                        width: 120px;
                        height: 100%;
                        left: 105px;
                        top: 0;

                        .compare-icon {
                            background: none;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            opacity: 1;

                            //visibility: hidden;
                            //@include single-transition(all, 200ms);
                            .pe-icon {
                                font-size: 120%;
                                font-weight: bold;
                                padding: 5px 3px 5px 5px;
                                cursor: pointer;
                            }

                            .lt-icon-text {
                                display: inline-block;
                                cursor: pointer;
                            }
                        }
                    }

                    .quick-view {
                        position: absolute;
                        right: 20px;
                        top: -35px;
                        z-index: 12;
                        cursor: pointer;
                        visibility: visible;

                        @include single-transition(all, 350ms);

                        .pe-icon {
                            display: none;
                        }

                        .btn-link:hover {
                            background: none;
                        }

                        .lt-icon-text {
                            height: 22px;
                            width: 30px;
                            line-height: 155%;
                            text-align: center;
                            display: block;
                            background: $primary-color;

                            @include radius(45%);

                            color: #fff;

                            @include single-transition(all, 350ms);

                            &:before {
                                content: '';
                                font-size: 100%;
                                color: $primary-color;
                            }

                            &:hover {
                                background: #F9B418;
                                color: #000000;
                            }
                        }
                    }
                }
            }

            &.right {
                text-align: right;

                .lt-sc-info {
                    margin-right: 10px;

                    .lt-sc-p-price {
                        ins {}
                    }
                }

                .lt-sc-pdeal-countdown {
                    float: right;

                    .countdown {
                        .countdown-row {
                            .countdown-section {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        .lt-sc-p-thumbs {
            .lt-thumb-a {
                opacity: 0.3;
                padding: 0 0 20px 0;

                @include single-transition(all, 350ms);

                .lt-pos-relative {
                    .lt-icon-current {
                        .pe-7s-angle-left {
                            height: 20px;
                            width: 20px;
                            line-height: 100%;
                            font-size: 160%;
                            visibility: hidden;
                            position: absolute;
                            right: -5px;
                            margin-top: 23px;
                        }
                    }
                }

                .lt-thumb-img {
                    border: 1px solid #ddd;
                    width: 65px;
                    margin: 0;
                }

                &.slick-current,
                &:hover {
                    opacity: 1;
                    position: relative;

                    .lt-thumb-img {
                        // border-color: transparent;
                        // @include lt-box-shadow(0px, 0px, 5px, 0px, #dddddd);
                   
                    }

                    .lt-pos-relative {
                        .lt-icon-current {
                            .pe-7s-angle-left {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }

    .countdown {
        .countdown-row {
            .countdown-section {
                text-align: center;
                float: left;
                padding: 8px 0;

                @include lt-border(all, 2px solid #888888);

                background: #fff;

                .countdown-amount {
                    display: block;
                    font-size: 130%;
                    font-weight: bold;
                    color: $primary-color;
                }

                .countdown-period {
                    display: block;
                    line-height: 120%;
                    font-size: 110%;
                }
            }
        }
    }
}

.lt-sc-product-deals-grid {
    &.lt-sc-product-deals-grid-2 {
        .inner-content {
            .product-item {
                margin-bottom: 10px;

                .info {
                    .info_main {
                        .name {
                            a {}
                        }
                    }
                }
            }
        }
    }

    .inner-content {
        .product-item {
            margin-bottom: 40px;

            .info {
                .info_main {
                    .name {
                        line-height: 140%;

                        a {
                            font-size: 130%;
                        }
                    }
                }
            }
        }

        &.has_absolute_thumbs {
            .product-item {
                margin-bottom: 0px;

                .info {
                    //height: 55px;
                    .info_main {
                        padding-top: 5px;

                        .name {
                            line-height: 120%;
                            margin-bottom: 5px;

                            a {
                                font-size: 110%;
                            }
                        }
                    }
                }
            }

            .products.grid .info .product-summary .product-interactions {
                .quick-view {
                    //bottom: 5px;
               
                }

                .wishlist-icon {
                    //top: 5px;
               
                }
            }
        }
    }
}

/* End Shortcode product deal */

/* Shortcode Tabs - Accordion */
/* Tab Elements */
.lt-tabs-content, .woocommerce-tabs {
    position: relative;

    .lt-accordion-title {
        display: none;
    }

    .lt-tabs {
        display: block;
        width: 100%;
        margin-bottom: 20px;

        li {
            list-style: none;
            display: inline-block;

            a {
                padding: 0;
                display: block;

                h5 {
                    color: #aaa;

                    @include single-transition(all, 350ms);

                    margin-bottom: 5px;
                }
            }

            &.separator {
                color: #aaa;
                margin: 0px 20px;

                &:last-child {
                    display: none !important;
                }
            }

            .bery-hr {
                display: none;
            }

            &.active, &:hover {
                a {
                    h5 {
                        color: $body-font-color;
                    }
                }

                .bery-hr {
                    display: block;
                    height: 2px;
                    background: $primary-color;
                }
            }
        }
    }

    .lt-panels {
        .lt-panel {
            display: none;

            &.active {
                display: block;
            }

            .product_list_widget {
                margin: 0;

                .item-product-widget {
                    display: inline-block;
                    width: 100%;
                    float: left;
                }

                &.large-block-grid-4,
                &.large-block-grid-5 {
                    .item-product-widget {
                        width: 25%;
                    }
                }

                &.large-block-grid-3 {
                    .item-product-widget {
                        width: 33.33333%;
                    }
                }

                &.large-block-grid-2 {
                    .item-product-widget {
                        width: 50%;
                    }
                }
            }
        }
    }
}

[class*="block-grid-"] {
    &.product_list_widget {
        margin: 0;
    }
}

/* Collapse Accordion */
.lt-accordions-content {
    margin-bottom: 15px;

    .lt-panel {
        display: none;
        padding: 15px 30px 30px;
        border: 1px solid $border;
        border-top: none;
        margin: -10px 0 10px;
    }

    .lt-accordion-title {
        a {
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $body-font-color;
            font-weight: bold;
            padding: 15px 15px 15px 0;
            display: block;
            border: 1px solid $border;

            @include single-transition(all, 350ms);

            &:hover {
                background: #FCFCFC;
            }

            &:before {
                display: inline-block;
                font-family: "Pe-icon-7-stroke";
                content: '\e623';
                color: #ccc;
                margin-right: 15px;
                margin-left: 15px;

                @include single-transition(all, 350ms);

                @include rotate(0deg);

                font-weight: normal;
            }

            &.active {
                background: #FCFCFC;
                color: $primary-color;

                &:before {
                    @include rotate(45deg);

                    @include single-transition(all, 350ms);
                }
            }
        }
    }
}

// Old accordion
.collapses {
    margin-bottom: 15px;

    .collapses-inner {
        display: none;
        padding: 15px 30px 30px;
        border: 1px solid $border;
        border-top: none;
        margin: -10px 0 10px;
    }

    .collapses-title {
        a {
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $body-font-color;
            font-weight: bold;
            padding: 15px 15px 15px 60px;
            display: block;
            border: 1px solid $border;
            position: relative;

            @include single-transition(border);

            @include single-transition(all, 350ms);

            &:hover {
                background: #FCFCFC;
            }

            &:before {
                display: inline-block;
                font-family: "Pe-icon-7-stroke";
                content: '\e623';
                color: #777;
                border-right: 1px solid #ddd;
                position: absolute;
                padding: 15px;
                left: 0;
                top: 0;

                @include single-transition(all, 350ms);

                font-weight: normal;
            }
        }
    }

    &.active {
        .collapses-title {
            background: #FCFCFC;

            a {
                &:before {
                    color: #fff;
                    content: '\e644';

                    @include single-transition(all, 350ms);
                }
            }
        }
    }
}

/* Newsletter element */
.lt-feedburner-subscription-shortcode {
    .feedburner-subscription {
        margin-bottom: 0px !important;
    }

    label {
        color: #000;
    }

    button {
        border: none;
        padding: 0;
        position: absolute;

        &:before {
            content: "\e639";
            font-family: "Pe-icon-7-stroke";
            font-size: 168%;
            color: $primary-color;
        }

        &:hover {
            background: transparent !important;
        }
    }

    &.style-1 {
        .subscribe-widget {
            margin: 0 auto;
            text-align: center;

            .intro-text {
                display: inline-block;
                margin-right: 35px;
                font-weight: bold;
            }

            .intro-text-2 {
                display: none;
            }

            form {
                display: inline-block;
                width: 600px;

                .subscribe-email {
                    position: relative;

                    input.subscribe-input {
                        display: inline-block;
                        border: none;
                        border-bottom: 1px solid #ccc;
                        font-size: 200%;

                        @include radius(0px);

                        padding: 0px !important;
                        height: 2em;
                        font-weight: 300;

                        &:focus {
                            background: transparent;
                        }
                    }

                    button {
                        top: 25%;
                        right: 0;
                    }
                }
            }
        }
    }

    &.style-2 {
        .subscribe-widget {
            margin: 0 auto;
            text-align: center;

            .intro-text {
                display: inline-block;
                margin-right: 35px;
                font-weight: bold;
            }

            .intro-text-2 {
                display: none;
            }

            form {
                display: inline-block;
                width: 350px;
                margin-bottom: 0px;

                .subscribe-email {
                    position: relative;

                    input {
                        margin-bottom: 0px;
                    }

                    button {
                        top: 9px;
                        right: 15px;
                    }
                }
            }
        }
    }
}

/* End shortcode tabs - accordion */

/* sevice box =========== */
.lt-col {
    &.service-icon {
        border-right: 1px solid #ddd;

        &.last {
            border: none;
        }
    }
}