.vc_row.wpb_row.vc_row-fluid {
    margin-bottom: 15px;
}

/* Fix VC */
.page-template-page-blank .vc_row {
    margin-left: 0;
    margin-right: 0;
}

.page-template-page-blank .vc_col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.wpb_widgetised_column {
    margin-bottom: 0px !important;
}

.wpb_content_element {
    margin-bottom: 0px !important;
}

.lt-row.fullwidth {
    .lt-col {
        padding: 0;
    }
}

.page-template-page-home-left-header .lt-row.fullwidth .lt-col {
    margin-bottom: 0px;
}

.page-template-page-home-left-header .wpb_revslider_element {
    margin-bottom: 0px !important;
}

.vc_progress_bar {
    padding-top: 25px;
}

.wpb_single_image .vc_single_image-wrapper {
    display: block !important;
}

//Fix 5 columns per row
.section-element.home_box_wrap .lt-col {
    float: left;
    width: 18.8%;
    padding: 0;
    margin-right: 1.5%;
    min-height: 0;
}

.home_box_last {
    margin: 0 !important;
}